<div id="contact"> </div>
<div class="contact-class">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h2 class="section-heading-contact">Let's Get In Touch!</h2>
        <div class="border2"> </div>
        <p class="section-paragraph"> Ready to start your next project with us? That's great! Give us a call or send us an email and
            <br> we will get back to you as soon as possible! </p>
        <!--form-->
        <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-xs-12 top-portion">
            <div class="card card-cascade">
                <div class="card-block">
                       
                                <div class="container">
                                    <div class="row">
                                        <div class="text-center d-block mx-auto"> 
                                        
                                            <span class="contact-number"> <i class="fa fa-phone fa-2x" style=""></i>123-456-6789</span>
                                        </div>
                            
                                </div>
                         

                    <form>
                        
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-sm-2 col-xs-2 col-form-label title">Name:</label>
                            <div class="col-sm-12 col-xs-12">
                                <input class="form-control" type="text" value="" id="example-text-input"> </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-email-input" class="col-md-2 col-sm-2 col-xs-2 col-form-label title">Email:</label>
                            <div class="col-sm-12 col-xs-12">
                                <input class="form-control" type="email" value="" id="example-email-input"> </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-tel-input" class="col-md-2 col-sm-2 col-xs-2 col-form-label title">Phone:</label>
                            <div class="col-sm-12 col-xs-12">
                                <input class="form-control" type="tel" value="" id="example-tel-input"> </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleTextarea" class="col-md-2 col-sm-2 col-xs-2 col-form-label title">Message:</label>
                            <div class="col-sm-12 col-xs-12">
                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group row text-center">
                         
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-secondary btn-submit btn-block">Submit </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 
    </div>