
<section class="video-section">


<!-- <video autoplay="autoplay" muted="muted" loop="loop" poster="https://bs-uploads.toptal.io/blackfish-uploads/enterprise_page/content/hero/background_file/background/2013/background_static-c0ea56f9a09cbffaa4ebb4196ce08abc.jpg"
  id="background">
  <source src="https://bs-uploads.toptal.io/blackfish-uploads/enterprise_page/content/hero/background_video_file/background_video/2014/background_video-5c382463f4ef2d4637807e1ed515890b.mp4"
    type="video/mp4">
</video> -->
<div id="background">
  
  </div>
<div class="container">
  <div class="row main-body">
    <div class="col-md-12">
      <h1 class="title text-center">WEBSITE ONLINE</h1>
      <h2 class="slogan text-center">Bring your ideas to life</h2>
      <a class="btn btn-secondary d-block mx-auto" href="" id="btn-started">Get Started</a>
    </div>
  </div>
</div>
</section>