<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
   <div class="Full-license-image">
     <img src="https://profile.freepik.com/accounts/media/img/full-license.png" alt="Full license" title="Full license">
   </div>
   <div class="Full-license-header">
     <h3>Full-license</h3>
   </div>
   <div class="Full-license-paragraph">
     <p>Forget about having to attribute an illustration with a Premium Subscription. Use any illustration either for commercial or personal use without crediting the author.</p>
   </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
      <div class="Full-license-image">
        <img src="https://profile.freepik.com/accounts/media/img/exclusive-content.png" alt="Exclusive content" title="Exclusive content">
      </div>
      <div class="Full-license-header">
        <h3>Exclusive content</h3>
      </div>
      <div class="Full-license-paragraph">
        <p>You are a VIP member now. Gain access to our exclusive illustrations which only Premium Members can download for free.</p>
      </div>
       </div>
       <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
        <div class="Full-license-image">
          <img src="https://profile.freepik.com/accounts/media/img/continuous-production.png" alt="Continuous production" title="Continuous production">
        </div>
        <div class="Full-license-header">
          <h3>Continuous production</h3>
        </div>
        <div class="Full-license-paragraph">
          <p>At Freepik we are constantly increasing our content available to our users, offering the best quality not only in Vector Illustrations but also PSD Illustrations and Photos.</p>
        </div>
         </div>
         <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
          <div class="Full-license-image">
            <img src="https://profile.freepik.com/accounts/media/img/no-ads.png" alt="No ads" title="No ads">
          </div>
          <div class="Full-license-header">
            <h3>No ads</h3>
          </div>
          <div class="Full-license-paragraph">
            <p>Browsing Freepik just got easier. You can fully focus on your work without any ads</p>
          </div>
           </div>
  </div>
</div>