.profile-middle{
    background-color: #1A1A1A;
    padding-bottom: 8%;


}

.alert-danger{

    margin: 3rem;

}
.card{
    background-color: #262626;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
}





