<div>
  <div id="process"> </div>
  <div class="jumbotron process-images">
      <h2 class="section-heading text-center">Processes  </h2>
      <hr>
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="containerimages">
                      <a class="imageszoom" href="../../../assets/images/businessDevelopment2.jpg" title="Title"> <img src="../../../assets/images/RequirementAnalysis.jpg" class="images img-thumbnail"> </a>
                      <div class="overlay websiteonline-text">
                          <!--                                <div class="texthello">CATEGORY <br> Project Name</div>-->
                          <h3 class="text-center"> <strong> Requirements Analysis </strong></h3>
                          <p class="paragraphbusiness">Depending on your business,service,product or business needs;our expert web developers and business analysts will determine the appropriate design and theme for your website.</p>
                          <p class="paragraphbusiness">Depending on your business, service, product or business needs;our expert web developers will determine the appropriate design for your website.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="containerimages"> <img src="../../../assets/images/webdevandGraphicsDesign.jpg1.jpg" alt="Avatar" class="images img-thumbnail">
                      <div class="overlay websiteonline-text">
                          <!--                                <div class="texthello">CATEGORY <br> Project Name</div>-->
                          <h3 class="text-center"> <strong> Web development and Graphic Design</strong></h3>
                          <p class="paragraphbusiness">Domain name registration is included for free. A domain name registration lasts upto 1 year, which requires yearly renewel</p>
                          <p class="paragraphbusiness">We register your domain name for free for the first year when you become a subscriber. After the first year, there is an yearly fee of $15 for domain name renewels.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="containerimages"> <img src="../../../assets/images/presentwebsiteforevaluation.jpg" alt="Avatar" class="images img-thumbnail">
                      <div class="overlay websiteonline-text">
                          <!--                                <div class="texthello">CATEGORY <br> Project Name</div>-->
                          <h3 class="text-center"> <strong> Present Website for Evaluation</strong></h3>
                          <p class="paragraphbusiness">You can't publish your website online without some form of web hosting in place. The average cost of a good web hosting service can cost anywhere from $200 to $500 per year.</p>
                          <p class="paragraphbusiness">As a subscriber to our service you won't have to pay for web hosting. Monthly web hosting costs are included in your subscription.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="containerimages"> <img src="../../../assets/images/website-launch.jpg" alt="Avatar" class="images img-thumbnail">
                      <div class="overlay websiteonline-text">
                          <!--                                <div class="texthello">CATEGORY <br> Project Name</div>-->
                          <h3 class="text-center"> <strong> Website Launch</strong></h3>
                          <p class="paragraphbusiness">Every business website requires upkeep and maintainence from time to time.</p>
                          <p class="paragraphbusiness">You may need to change some information displayed in your website such as updating your contact information, business address, or other minor changes. Such changes are free of charge to you as a subscriber to our service.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>