<div class="card main-portion">
  <div class="card-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 contact-header">
          <h4>Submit a request</h4>
          <form>

            <div class="form-group">

              <select class="form-control" id="exampleSelect1">
                <option>Select a subject</option>
                <option>General Information</option>
                <option>Collaboration offer</option>
                <option>I found an error / bug</option>
                <option>Premium subscription</option>
                <option>Billing</option>
                <option>Suggestions</option>
                <option>Other</option>
              </select>
            </div>

            <div class="form-group">

              <textarea class="form-control" id="exampleTextarea" rows="6" placeholder="Write us a message"></textarea>
            </div>
            <p class="contact-paragraph">Please enter the details of your request and, if you have any questions regarding our Terms of Use, please include
              specific samples of the usage you wish to give our resouces. If you’re reporting a problem, make sure to include
              as much information as possible. Please include any screenshots or videos of issues since this will also help
              us resolve problems much sooner. Once your request is submitted, a member of our support staff will respond
              as soon as possible.</p>

            <div class="container">
              <div class="row">
                <div class="main">
                  <div class="col-sm-8 col-xs-8 col-lg-12">
                    <div class="rc-anchor rc-anchor-normal rc-anchor-light">
                      <div class="rc-anchor-content">
                        <div class="rc-inline-block">
                          <div class="rc-anchor-center-container">
                            <div class="rc-anchor-center-item rc-anchor-checkbox-holder">
                              <span class="recaptcha-checkbox goog-inline-block recaptcha-checkbox-unchecked rc-anchor-checkbox recaptcha-checkbox-clearOutline"
                                role="checkbox" aria-checked="false" id="recaptcha-anchor" tabindex="0" dir="ltr" aria-labelledby="recaptcha-anchor-label">
                                <div class="recaptcha-checkbox-border" role="presentation"></div>
                                <div class="recaptcha-checkbox-borderAnimation" role="presentation"></div>
                                <div class="recaptcha-checkbox-spinner" role="presentation"></div>
                                <div class="recaptcha-checkbox-spinnerAnimation" role="presentation"></div>
                                <div class="recaptcha-checkbox-checkmark" role="presentation"></div>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="rc-inline-block">
                          <div class="rc-anchor-center-container">
                            <label class="rc-anchor-center-item rc-anchor-checkbox-label" id="recaptcha-anchor-label">I'm not a robot</label>
                          </div>
                        </div>
                      </div>
                      <div class="rc-anchor-normal-footer">
                        <div class="rc-anchor-logo-portrait" role="presentation">
                          <div class="rc-anchor-logo-img rc-anchor-logo-img-portrait"></div>
                          <div class="rc-anchor-logo-text">reCAPTCHA</div>
                        </div>
                        <div class="rc-anchor-pt">
                          <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy</a> -
                          <a href="https://www.google.com/intl/en/policies/terms/" target="_blank">Terms</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-4 col-lg-12">
                  <a href="#" class="btn btn-primary support-button pull-right">
                    <i class="fa fa-envelope"></i> Send</a>
                </div>

              </div>
            </div>


          </form>


        </div>


      </div>

    </div>


  </div>
</div>