<section class="pro">
  <div class="container">
 <div class="row">
   <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="itemtext">
          <span class="pro-headingtext">Introducing WEBSITE PRO</span>
          <p>Hand-vetted. High-end. On-demand.</p>
          <button href="https://www.fiverr.com/pro" target="_blank" class="btn btn-md btn-green" data-aux-data="homepage_pro_learn_more" data-source-component="button">
              Learn more
          </button>
      </div>
   </div>
   <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      
  
          <img alt="Introducing Website PRO" src="../../../assets/images/pros2.png" class="img-responsive img-fluid">
   
    </div>
  
  </div>
</div>
</section>