

    <div class="main-background">
      
      
      
      
            <div class="side-by-side">
                <div class="container">
      
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 col-md-6 col-sm-12 write">
                            <img src="https://s3.amazonaws.com/apptronassets/websiteonline/Trio-Service-WSE-1.jpg" alt="" width="80%" class="img-responsive d-block mx-auto">
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 write">
                            <h2 class="landing-header">
                                DEVELOP ACROSS ALL PLATFORMS</h2>
                            <p class="landing-texts">
                                Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target.
                                For web, mobile web, native mobile and native desktop.</p>
                        </div>
                        <div class="col-lg-1"></div>
      
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 col-md-6 col-sm-12 write">
                            <h2 class="landing-header">
                                Let us increase the SPEED & PERFORMANCE of your website</h2>
                            <p class="landing-texts">
                                Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.</p>
                            <p class="landing-texts">
                                Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or
                                another push-model.
                            </p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 write">
                            <img src="https://s3.amazonaws.com/apptronassets/websiteonline/maximize-Performance.jpg" alt="" width="80%" class="img-responsive d-block mx-auto">
                        </div>
                        <div class="col-lg-1"></div>
      
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 col-md-6 col-sm-12 write">
                            <img src="https://s3.amazonaws.com/apptronassets/websiteonline/247-support.jpg" alt="" width="80%" class="img-responsive d-block mx-auto">
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 write">
                            <h2 class="landing-header">
      
                                24/7 website support</h2>
                            <p class="landing-texts">
                                Build features quickly with simple, declarative templates. Extend the template language with your own components and use
                                a wide array of existing components. Get immediate Angular-specific help and feedback with nearly
                                every IDE and editor. All this comes together so you can focus on building amazing apps rather than
                                trying to make the code work.</p>
      
                        </div>
                        <div class="col-lg-1"></div>
      
      
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 col-md-6 col-sm-12 write">
                            <h2 class="landing-header">
                                need help with bug fixes?</h2>
                            <p class="landing-texts">
      
                                From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's
                                largest applications.</p>
      
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 write">
                            <img src="https://s3.amazonaws.com/apptronassets/websiteonline/SQA.jpg" alt="" width="80%" class="img-responsive d-block mx-auto">
                        </div>
                        <div class="col-lg-1"></div>
      
                    </div>
      
      
                </div>
            </div><br>
            <div class="card-portion">
      
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-lg-8 d-block mx-auto">
      
                                  <div class="card">
                                      <div class="card-block">
      
                                          <div class="container card-padding">
                                              <div class="row main">
                                                  <div class="col-lg-9 col-xs-12 col-md-12 col-sm-12 else-text text-center">
                                                      <h1 class="">What else can we do?</h1>
                                                  </div>
      
                                                  <div class="col-lg-3 col-xs-12 col-md-12 col-sm-12 ">
      
                                                      <a class="btn btn-primary btn-find button d-block mx-auto" href="#about">Learn More</a>
                                                  </div>
                                              </div>
                                          </div>
      
      
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
        </div>
      

