<div *ngIf="authService.user | async as user">
<div class="nav-item dropdown another-dropdown">
    
      <a class="nav-link dropdown-toggle" id="navbarDropdownsecond" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <img [src]="user.photoURL || 'https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png'" alt="user" class="img-thumbnail profile-pic"></a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownsecond">
          <ul class="dropdown-user list-unstyled" id="profile-dropdown">
        
          
              <li>
                <a [routerLink]="['/profile']"> Profile <i class="fa fa-cog pull-right"></i> </a>
              </li>
              <li>
                <a [routerLink]="['/services']"> Services <i class="fas fa-tasks pull-right"></i> </a>
              </li>
              <li>
                <a [routerLink]="['/profile-my-favorites']"> Favorites <i class="fa fa-heart pull-right"></i> </a>
              </li>
              <li>
                <a [routerLink]="['/profile-downloads']">Downloads <i class="fa fa-download pull-right"></i></a>
              </li>
          
              <li>
                <a [routerLink]="['/profile-subscriptions']">Subscriptions <i class="fa fa-archive pull-right"></i> </a>
              </li>
              <li>
                  <a [routerLink]="['/profile-contact']">Contact <i class="fa fa-envelope pull-right"></i> </a>
                </li>
                <li>
                    <a [routerLink]="['/profile-support']"> Support <i class="fa fa-life-ring pull-right"></i> </a>
                  </li>
              
              <li><a href="#"> Logout <i class="fas fa-sign-out-alt pull-right"></i> </a>
              </li>
          </ul>
      </div>
    </div>
    </div>