<section class="profile-middle">
    
    
    
    <div class="container">
    <div class="row" *ngIf="pageData">
    
    
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
    
        <div class="card next-card">
            <div class="card-header card-header-texts">About This Gig</div>
          <div class="card-block service-card">
            
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <h3 class="description-detail">{{pageData.serviceDescription}}</h3>
                 <!-- <p class="description-paragraph">
                    124k+ Orders | 50k+ Reviews | Top Rated Seller! |
                  </p> -->
<!--                   <p class="description-paragraph">
                      Expect following from our $35 Package:</p>
                      <ul class="description-list" >
                        <li>
                         <strong>3 Logo concepts</strong>
                        </li>
                        <li>
                          <strong> 5 3D mockups!!</strong>
                          </li>
                          <li><strong>Trendsetter designers</strong>to get a unique business identity.
                          </li>
                          <li>Entire design will be made from scratch.</li>
                          <li>Yes,<strong>Unlimited  & VIP Support</strong> are part of the package.</li>
                      </ul>
                   
                      <p class="description-paragraph">
                          Expect following from our $65 Package:</p>
                          <ul class="description-list">
                            <li>
                              <strong>
                                  5 impressive logo Concepts + favicon + app icon !</strong>
                            </li>
                            <li><strong>Exclusive Social Media Branding</strong> that will make you WOW!</li>
                            <li><strong>Professional Stationary package</strong> with a corporate layout.</li>
                          </ul>
                          <p class="description-paragraph">Truth of $5 logo:</p>
                          <ul  class="description-list">
                            <li>
  
                                2 pretty basic logo with an almost null custom requirement and designed with a standard idea.
                            </li>
                            <li>High-quality design is practically impossible for $5. If someone has provided you a great logo for $5, it's stolen!</li>
  
                          </ul>
                          <p class="description-paragraph">What you will receive for $5:</p>
                          <ul class="description-list">
                            <li>
  2 <strong>Basic Design</strong> of 2000px X 2000px in JPG & transparent PNG formats in 300 dpi
                            </li>
                            <li><strong>Customized concepts are accepted</strong></li>
                            <li>Prompt customer support & 3 Modification.</li>
                          </ul>
                          <p class="description-paragraph"><strong>For Notes, Read FAQ</strong></p>
                          <p class="description-paragraph">Have queries? <strong>Contact us in inbox anytime!</strong></p>  -->
                  </div>
            
<!--                   <div class="col-md-12 col-sm-12 col-lg-2 col-xs-12">
                    <p class="description-paragraph">
                      Style
                      </p>
                      <p class="description-paragraph">
                          Flat/Minimalist
                      </p><br>
                      <p class="description-paragraph">
                          AI
                      </p>
                      <p class="description-paragraph">
                          JPG
                      </p>
                      <p class="description-paragraph">
                          PDF
                      </p>
                      <p class="description-paragraph">
                          PNG
                      </p>
                      <p class="description-paragraph">
                          PSD
                      </p>
                      <p class="description-paragraph">
                          EPS
                      </p>
                      <p class="description-paragraph">
                          SVG
                      </p>
                    </div> -->
                </div>
    
    
           
          </div>
        </div>
     
    
      </div>
    </div>
    
    </div>
    
    </section>