

<!-- new -->

<div class="container">
<div class="row">


<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 faqbar">
<ngb-accordion [closeOthers]="true">
     
            <ngb-panel title="Frequently Asked Questions" [disabled]="true">
                
                  </ngb-panel>
    <ngb-panel id="static-1" title="Are you open to work with custom offers or services?">
      <ng-template ngbPanelContent>
        I'm flexible to adapt the offer to the scope of your project
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2">
      <ng-template ngbPanelTitle>
        <span class="hover-effect"> What range of styles can I get for my logotype? </span>
      </ng-template>
      <ng-template ngbPanelContent>
        Each project encompasses 3 to 5 unique design solutions that range from simple but effective typographic solutions, to more complex and illustrative designs. Ultimately, it all depends on your brief and the precise requirements and tone-of-voice of your project.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title=" What does the Social Media Kit include?">
      <ng-template ngbPanelContent>
        Facebook cover photo, Facebook and Twitter profile photo design. (I can also prepare options for Instagram / LinkedIn / etc - depending on the project)
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-4" title=" What is logo transparency or PNG file?">
        <ng-template ngbPanelContent>
            PNG file has no background. It is a transparent background format. So you can upload the same on your website, on your blog etc.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-5" title=" If I buy a logo from you do you provide full rights for the design?">
        <ng-template ngbPanelContent>
            Once order gets completed successfully you will have full rights of the design as per fiverr TOS we don't hold any right over design as seller.
        </ng-template>
      </ngb-panel>
  </ngb-accordion>
  </div>
  </div>
      
</div>

