

<nav class="navbar navbar-toggleable-md main-navbar fixed-top bg-custom">
    
    
  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
   -->
   <app-profile-navbar class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></app-profile-navbar>
   <!-- <app-category-nav ></app-category-nav> -->
   <!-- <app-profile-nav class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></app-profile-nav> -->
  <a class="navbar-brand" [routerLink]="['/']">

 <img src="../../../assets/images/Logo-Remaked-websiteOnline_updated.png" alt="logo" class="navbar-logo"> </a>


  <div class="collapse navbar-collapse page-scroll" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
       

  
      </ul>
  </div>
</nav>
  

  
  
        
  