
<div *ngIf="pageData">


<div class="container-fluid headerContainer" >
  <div class="row">
    
    <div class="col-lg-12">
    <h1>{{pageData.title}}</h1>
    <p class="subheader">
      {{pageData.subTitle}}
 </p>
    
    </div>

   
</div>
  
</div>
<div class="background-color-card">
    <div class="container-fluid">
      <div class="row">
        <!-- shreya file -->
          <div class="col-lg-3 col-md-4 col-sm-6 listing">
              
                 <ul style="list-style-type:none">
                   <li>
                      
                         <h3>{{pageData.title}}</h3>
                 
                   </li>
                   <li *ngFor="let serviceItem of serviceItems">
                     <a [routerLink]="serviceItem.url">{{serviceItem.title}}</a>
                   </li>
        
                 </ul>
               
            </div>

            <div class="col-lg-9 col-md-8 col-sm-6" >
<div class="row">


                <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let serviceItem of serviceItems">
                    <div class="card"[routerLink]="serviceItem.url">
                      <a [routerLink]="serviceItem.url" style="text-decoration: none">
                        <img [src] ="serviceItem.thumbnail" alt="" class="img-responsive img-fluid d-block mx-auto image-card" >
                        <div class="card-body">
                          <h5 class="card-title card-text">{{serviceItem.title}}</h5>
                         
                        </div>
                      </a>
                      </div>
                
                  
                </div>
          
                        </div>
            </div>

         
     
      </div>
    
    
    </div>
</div>

</div>