  <!-- video -->
  <div class="container video-container">
    <div class="row video-area">
          <div class="col-lg-6">
              <div class="video-div">
                  <h3 class="text-center video-heading-text">"Great design team and quick turn around on all projects and request"</h3>
                  <div class="text-center">John Lee Dumas<br><span class="text-center founder-text">Founder of <a href="" >EntrepreneurOnFire.com</a></span></div>
                  <div class="text-center customer-text"><a href="/testimonials" class="text-center">More customer stories</a></div>
              </div>
          </div>
          <div class="col-lg-6">

                <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://tse1.mm.bing.net/th?id=OIP.R35yKaRmVlqExHkfjh1ZFgHaCn&pid=15.1&P=0&w=488&h=173" allowfullscreen></iframe>
                      </div>

          </div>
        <div class="clearfix"></div>
 </div>
    <div class="clearfix"></div>

</div>