<div class="package-profile-section">
        <div class="container">
          <div class="row" *ngIf="pageData">
            <div class="col-md-5 col-lg-5 col-sm-12 col-12">
              <div class="overflow">

       
                <table class="table table-bordered table-dark">
                 <thead>
                    <tr class="table-caption"><th colspan="4"><h5>Compare Packages</h5></th></tr>
                    <tr class="heading-class">
                      <th scope="col" class="darker-shade"></th>
                      <th scope="col" class="hover-col"><span><h4>Tk.{{pageData.premiumCost}}</h4>
                      <h5>premium</h5>
                    </span></th>
                      <th scope="col" class="hover-col">
                      <span>
                      <h4>Tk.{{pageData.standardCost}}</h4>
                      <h5>Standard</h5>
                    </span>
                    </th>
                      <th scope="col" class="hover-col">
                      <span>
                        <h4>Tk.{{pageData.basicCost}}</h4>
                        <h5>Basic</h5>
                    </span>
                      </th>
                      
                    </tr>
                  </thead>
                  <tbody>
                      <tr class="description-row">
                          <th scope="row" class="darker-shade"><h5>Description</h5></th>
                          <td>
                            <span>
                              <!-- <h5>gold</h5> -->
                              <p>{{pageData.premiumDescription}}
                              </p>
                            </span>
                          </td>
                          <td>
                              <!-- <h5>silver</h5> -->
                              <p>{{pageData.standardDescription}}
                              </p>
                          </td>
                          <td>
                              <!-- <h5>basic</h5> -->
                              <p>{{pageData.basicDescription}}
                              </p>
                          </td>
                      </tr>
                         <!--2nd row-->  
                      <tr class="vector-row">
                        <th scope="row" class="darker-shade"><h5>vector file</h5></th>
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        <td>
                         <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                      </tr>
                   <!--3rd row-->   
                      <tr class="vector-row">
                        <th scope="row"class="darker-shade"><h5>High Resolution</h5></th>
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        <td>
                         <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                      </tr>
                         <!--4th row--> 
                      <tr class="vector-row">
                        <th scope="row" class="darker-shade"><h5>Logo Transparency</h5></th>
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        <td>
                         <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                      </tr>    
                         <!--5th row--> 
                      <tr class="vector-row">
                        <th scope="row" class="darker-shade"><h5>Source File</h5></th>
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        <td>
                         <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                      </tr> 
                         <!--6th row-->  
                      <tr class="vector-row">
                        <th scope="row" class="darker-shade"><h5>3D Mockup</h5></th>
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        <td>
                         <div class="none-class">
                            <span>-</span>
                        </div>
                        </td>
                      </tr>
                   <!--7th row-->
                      <tr class="vector-row">
                        <th scope="row" class="darker-shade"><h5>Social Media Kit</h5></th>
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        
                        <td>
                         <div class="none-class">
                            <span>-</span>
                        </div>
                        </td>
                        <td>
                         <div class="none-class">
                            <span>-</span>
                        </div>
                        </td>
                      </tr>   
                         <!--8th row-->  
                      <tr class="vector-row">
                        <th scope="row" class="darker-shade"><h5>Stationery Designs</h5></th>
                        <td>
                        <div class="icon-class">
                            <i class="fas fa-check"></i>
                        </div>
                        </td>
                        
                        <td>
                         <div class="none-class">
                            <span>-</span>
                        </div>
                        </td>
                        <td>
                         <div class="none-class">
                            <span>-</span>
                        </div>
                        </td>
                      </tr>     
                         <!--9th row--> 
                      <tr class="vector-row">
                        <th scope="row" class="darker-shade"><h5># of Initial Concepts Included</h5></th>
                        <td>
                        <div class="number-class">
                            <p>5</p>
                        </div>
                        </td>
                        
                        <td>
                        <div class="number-class">
                            <p>5</p>
                        </div>
                        </td>
                        <td>
                        <div class="number-class">
                            <p>5</p>
                        </div>
                        </td>
                      </tr> 
                         <!--10th row-->  
                      
                         <!--11th row--> 
                    <tr class="vector-row">
                        <th scope="row" class="darker-shade"><h5>Revisions</h5></th>
                        <td>
                        <div class="number-class">
                            <p>Unlimited</p>
                        </div>
                        </td>
                        
                        <td>
                        <div class="number-class">
                            <p>2</p>
                        </div>
                        </td>
                        <td>
                        <div class="number-class">
                            <p>1</p>
                        </div>
                        </td>
                      </tr>    
                  <!--12th row-->  
                      
                  <tr class="delivery-row">
                   <th scope="row" class="darker-shade"><h5>Delivery time</h5></th>
                      <td>
                       <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1">
                              18 days
                          </label>
                       </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        12 days(+420$)
                    </label>
                  </div>
                  </td>
                        
              <td>
                  <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1">
                              18 days
                          </label>
                   </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        12 days(+420$)
                    </label>
                  </div>
                        </td>
                        <td>
                        <div class="number-class">
                         <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1">
                              18 days
                          </label>
                   </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        12 days(+420$)
                    </label>
                  </div>
                        </div>
                        </td>
                   </tr>
                   <!--13th row-->  
                  <tr class="vector-row">
                        <th scope="row" class="darker-shade"></th>
                        <td>
                            <button type="button" class="btn btn-primary btn-rounded btn-sm my-0">Select $1,800</button>
                        </td>
                        
                        <td>
                            <button type="button" class="btn btn-primary btn-rounded btn-sm my-0">Select $1,200</button>
                        </td>
                        
                        <td>
                           <button type="button" class="btn btn-primary btn-rounded btn-sm my-0">Select $1,200</button>
                        </td>
                      </tr>                
               </tbody>
          </table>
        </div>
             
            </div>
            <!--profile card starts-->
            <div class="offset-lg-3 col-lg-4 col-md-12 offset-md-0 offset-sm-0 col-sm-12 col-12 col-xs-12">
       
                

       </div>
       </div>     
      
      </div>
      </div>