
<!-- done by Shreya Khisa 2018 -->
<div class="container-fluid listContainer">
  <div class="row">
    <div class="col-lg-4 listing">
      
         <ul style="list-style-type:none">
           <li>
              
                 <h3>Graphics &amp; Design</h3>
         
           </li>
           <li>
             <a href="#">Logo Design</a>
           </li>

           <li>
              <a href="#">Flyers &amp; Brochures</a>
            </li>

            <li>
                <a href="#">Packaging Design</a>
              </li>
              <li>
                  <a href="#">Illustration</a>
                </li>
                <li>
                    <a href="#">Book &amp; Album Covers</a>
                  </li>
                  <li>
                      <a href="#">Business Cards &amp; Stationery</a>
                    </li>
                    <li>
                        <a href="#">Web &amp; Mobile Design</a>
                      </li>
                      <li>
                          <a href="#">Presentation Design</a>
                        </li>
                        <li>
                            <a href="#">Infographics</a>
                          </li>
                          <li>
                              <a href="#">Cartoons &amp; Caricatures</a>
                            </li>
                            <li>
                                <a href="#">3D &amp; 2D Models</a>
                              </li>
                              <li>
                                  <a href="#">T-Shirts &amp; Merchandise</a>
                                </li>
                                <li>
                                    <a href="#">Photoshop Editing</a>
                                  </li>
                                  <li>
                                      <a href="#">Banner Ads</a>
                                    </li>
                                    <li>
                                        <a href="#">Social Media Design</a>
                                      </li>
                                      <li>
                                          <a href="#">Vector Tracing</a>
                                        </li>
                                        <li>
                                            <a href="#">Invitations</a>
                                          </li>

         </ul>
       
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
    </div>

  </div>

</div>
<!-- done by Shreya Khisa 2018 -->