
<!-- side card section starts -->
<div class="col-lg-4 col-md-6 col-sm-12 sideBar">
  <!-- first card starts -->
          <ngb-accordion [closeOthers]="true" activeIds="static-2">
  
            <ngb-panel id="static-1">
              <ng-template ngbPanelTitle>
                <span class="first" style="color:white;  background-color:  #262626">Premium</span>
              </ng-template>
              <ng-template ngbPanelContent>
  
                <ul style="list-style:none" class="panelcontent">
                  <li>
                    <i class="far fa-clock" style="color:green"></i>
                    <span> 2 days delivery</span>&nbsp;
                    <i class="fas fa-redo" style="color:green"></i>
                    <span> Unlimited Revisions</span>
                  </li>
  
                  <li>
                    <h3>The Branding Monster</h3>
                  </li>
                  <li>
                    <p>5 HQ logo designs +B card &amp; letterhead + FB &amp; Twitter covers+App icon+favicon +Unlimited revisions</p>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Vector File</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Stationery Design</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Social Media Kit</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>High Resolution</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>3D Mockup</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Logo Transparency</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Five Initial Concepts Included</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Source File</span>
                  </li>
  
                </ul>
                <button type="button" class="btn btn-success">Continue</button>
                <p class="package-text">
                  <a href="#">Compare Packages</a>
                </p>
              </ng-template>
            </ngb-panel>
            <!-- first card ends -->
  
  <!-- second card starts -->
            <ngb-panel id="static-2">
              <ng-template ngbPanelTitle>
                <span class="second" style="color:white; background-color: #262626">Standard</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <ul style="list-style:none" class="panelcontent">
                  <li>
                    <i class="far fa-clock" style="color:green"></i>
                    <span> 1 day delivery</span>&nbsp;
                    <i class="fas fa-redo" style="color:green"></i>
                    <span> Unlimited Revisions</span>
                  </li>
  
                  <li>
                    <h3>Apptron's Best &amp; Our Best Selling!</h3>
                  </li>
                  <li>
                    <p>3 UNIQUE HQ logo designs + Source files + 5 3D mockups + Unlimited Revisions</p>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Vector File</span>
                  </li>
  
  
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>High Resolution</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>3D Mockup</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Logo Transparency</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>3 Initial Concepts Included</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Source File</span>
                  </li>
  
                </ul>
                <button type="button" class="btn btn-success">Continue</button>
                <p class="package-text">
                  <a href="#">Compare Packages</a>
                </p>
              </ng-template>
            </ngb-panel>
  
            <!-- second card ends -->
  
            <!-- third card starts -->
            <ngb-panel id="static-3">
              <ng-template ngbPanelTitle>
                <span class="third" style="color:white; background-color:  #262626">Basic</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <ul style="list-style:none" class="panelcontent">
                  <li>
                    <i class="far fa-clock" style="color:green"></i>
                    <span> 1 day delivery</span>&nbsp;
                    <i class="fas fa-redo" style="color:green"></i>
                    <span> 2 Revisions</span>
  
                  </li>
                  <li>
                    <h3>Basic Designs for Starting Up!</h3>
                  </li>
                  <li>
                    <p>2 starter logo in 2000X2000px, 300dpi + 2 revision - NO mascots &amp; complex design</p>
                  </li>
  
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>High Resolution</span>
                  </li>
  
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Logo Transparency</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>2 Initial Concepts Included</span>
                  </li>
                  <li>
                    <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                    <span>Source File</span>
                  </li>
  
                </ul>
                <button type="button" class="btn btn-success">Continue</button>
                <p class="package-text">
                  <a href="#">Compare Packages</a>
                </p>
              </ng-template>
              <!-- third card ends -->
            
            </ngb-panel>
          </ngb-accordion>
        
  
        </div>
        <!-- side section ends here -->