  <!--portfolio images-->
  <div>
    <div id="portfolio"> </div>
    <div class="jumbotron portfolio-images">
        <h2 class="section-heading text-center">Portfolios  </h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="containerimages">
                        <a class="imageszoom" href="../../../assets/images/image1.jpg" title="Title"> <img src="../../../assets/images/image1.jpg" class="images img-thumbnail"> </a>
                        <div class="overlay">
                            <div class="texthello">CATEGORY
                                <br> Project Name</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="containerimages"> <img src="../../../assets/images/image2.jpg" alt="Avatar" class="images img-thumbnail">
                        <div class="overlay">
                            <div class="texthello">CATEGORY
                                <br> Project Name</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="containerimages"> <img src="../../../assets/images/image3.jpg" alt="Avatar" class="images img-thumbnail">
                        <div class="overlay">
                            <div class="texthello">CATEGORY
                                <br> Project Name</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="containerimages"> <img src="../../../assets/images/image4.jpg" alt="Avatar" class="images img-thumbnail">
                        <div class="overlay">
                            <div class="texthello">CATEGORY
                                <br> Project Name</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="containerimages"> <img src="../../../assets/images/image5.jpg" alt="Avatar" class="images img-thumbnail">
                        <div class="overlay">
                            <div class="texthello">CATEGORY
                                <br> Project Name</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="containerimages"> <img src="../../../assets/images/image6.jpg" alt="Avatar" class="images img-thumbnail">
                        <div class="overlay">
                            <div class="texthello">CATEGORY
                                <br> Project Name</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>