
 .modal-content{
    background-color: #262626;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
    color: white;
  
 }
 .modal-header{
    border-bottom: 1px solid rgb(54, 52, 52);
 }
 .modal-footer{
    border-top: 1px solid rgb(54, 52, 52);
 }
 .modal-header .close{
     color: white;
 }
 .modal-footer .btn{
     cursor: pointer;
 }
 .form-control, .form-control:focus{
background-color: #1b1b1d;
 }
