<div class="sidemenu">
	<div class="container">
  <div class="row">
    <div class="col-sm-3">
    	<div class="menu">
     <div class="top">
     	<table>
     		<tr>
     			<td><i class="fas fa-bookmark bicon"></i></td>
     			<td class="ProGig">Show PRO Gigs first
     				<br>
                <a href="#">Learn More</a>
     			</td>
     			<td>
     				 <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
			        <div class="handle"></div>
					  </button>
     			</td>
     		</tr>
     	</table>
     </div>
     <hr>
     <div class="result"> 
     	<table>
     		<tr>
     			<th>Refine Results</th>
     		</tr>
     		<tr>
     			<td>All in Graphics & Design</td>
     			<td class="right">(231262)</td>
     		</tr>
            <tr>
     			<td>Logo Design</td>
     			<td class="right">(66265)</td>
     		</tr>
     	</table>
     </div>
     <hr>
     <div class="delivery"> 
     	<table>
     		<tr>
     			<th>Delivery Time</th>
     		</tr>
     		<tr>
     			<td> <input type="radio" name="" value="" checked>
     			Up to 24 hours</td>
     		</tr>
            <tr>
     			<td>  <input type="radio" name="" value="">
     			Up to 3 days</td>
     		</tr>
     		<tr>
     			<td>  <input type="radio" name="" value="">
     			Up to 7 days</td>
     		</tr>
            <tr>
     			<td>  <input type="radio" name="" value="">
     			Any</td>
     		</tr>
     	</table>
     </div>
     <hr>
     <div class="range">
     	<table>
     		<tr>
     			<th>Price Range</th>
     		</tr>
     		<tr>
     			<td>$
     			<input class="inputWidth" type="text" name="">
     			 &nbsp;to &nbsp; $
     			<input class="inputWidth" type="text" name="">
     			<input class="inputlast" type="submit" name="" value=">"></td>
     		</tr>
     	</table>
     </div>
     <hr>
     <div class="seller"> 
     	<table>
     		<tr>
     			<th>Seller Status</th>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			Online</td>
     			<td class="right">(4346)</td>
     		</tr>
            
     	</table>
     </div>
     <hr>
     <div class="style"> 
     	<table>
     		<tr>
     			<th>Style</th>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			Versatile</td>
     			<td class="right">(17199)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			FLat/Minimalist</td>
     			<td class="right">(9645)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			3D</td>
     			<td class="right">(3886)</td>
     		</tr>
     		<tr>
     			<th><a href="#"> + Show More</a></th>
     		</tr>
     	</table>
     </div>
     <hr>
     <div class="file"> 
     	<table>
     		<tr>
     			<th>File Format</th>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			JPG</td>
     			<td class="right">((15158)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			PNG</td>
     			<td class="right">(15017)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			PDF</td>
     			<td class="right">(14007)</td>
     		</tr>
     		<tr>
     			<th><a href="#"> + Show More</a></th>
     		</tr>
     	</table>
     </div>
     <hr>
     <div class="service"> 
     	<table>
     		<tr>
     			<th>Service Includes</th>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			High Resolution</td>
     			<td class="right">(16359)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			Logo Transparency</td>
     			<td class="right">(16060)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			Source File</td>
     			<td class="right">(15917)</td>
     		</tr>
     		<tr>
     			<th><a href="#"> + Show More</a></th>
     		</tr>
     	</table>
     </div>
     <hr>
     <div class="level"> 
     	<table>
     		<tr>
     			<th>Seller level</th>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			New Seller</td>
     			<td class="right">(12897)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			Level One</td>
     			<td class="right">(1558)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			Level Two</td>
     			<td class="right">(1874)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			Top Rated Seller</td>
     			<td class="right">(30)</td>
     		</tr>
     	</table>
     </div>
     <hr>
     <div class="language"> 
     	<table>
     		<tr>
     			<th>Seller Language</th>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			English</td>
     			<td class="right">(1199)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			Urdu</td>
     			<td class="right">(645)</td>
     		</tr>
     		<tr>
     			<td> <input type="checkbox" name="" value="">
     			Spanish</td>
     			<td class="right">(1214)</td>
     		</tr>
     		<tr>
     			<th><a href="#"> + Show More</a></th>
     		</tr>
     	</table>
     </div>
 </div>
    </div>
    <div class="col-sm-9">
    </div>
    
  </div>
</div>
</div>