<h2 class="faq">FAQ</h2>

  


      <div class="card main-portion">
        <div class="card-block">
      <div class="container">
            <div class="row">
              <div class="col-lg-2 faq-header">
                <h4>Question</h4>
             
               
              </div>
              <div class="col-lg-10 faq-paragraph">
                <p>
                  <strong>Wait... I thought Freepik was free!</strong>
                </p>

              </div>
      
            </div><br>
            <div class="row">
                <div class="col-lg-2 faq-header">
                 
                 
                  <h4>Answer</h4>
                </div>
                <div class="col-lg-10 faq-paragraph">
               
                  <p>Freepik is
                    <strong>FREE</strong> and
                    <strong>will always be FREE.</strong> Now you also have the possibility to become a Premium member and download licenses
                    to use our resources without having to credit the author. Besides,
                    <strong>exclusive Premium content</strong> is waiting for you!</p>
                </div>
        
              </div>
          </div>
      
          
        </div>
      </div>
  
  


      <div class="card main-portion">
          <div class="card-block">
        <div class="container">
              <div class="row">
                <div class="col-lg-2 faq-header">
                  <h4>Question</h4>
               
                 
                </div>
                <div class="col-lg-10 faq-paragraph">
                  <p>
                    <strong>Can I use downloaded content to create work for a client?</strong>
                  </p>
  
                </div>
        
              </div><br>
              <div class="row">
                  <div class="col-lg-2 faq-header">
                   
                   
                    <h4>Answer</h4>
                  </div>
                  <div class="col-lg-10 faq-paragraph">
                 
                    <p>Freepik is
                   
                          Please feel free to use Freepik contents to create and sell your products to your clients. 
                          To ensure a correct usage of our images for your commercial purposes please follow these steps: <br>
                          <a href="" class="freepik-resources">How can I use Freepik's resources without attribution?</a>
                        
                        </p>
                  </div>
          
                </div>
            </div>
        
            
          </div>
        </div>
    
    
     
  
  
   

