<div class="container-fluid background-color">
    <div class="row">
        <div class="col-xs-12 col-md-12">
                <h2 class="about-heading text-center">The Freedom to Create Anything</h2>
                <p class="about-paragraph">We believe anything is possible with the right website builder. That's why we offer a few different ways you can build a website: Website online Artificial Design Intelligence , Website Online Editor and Code. 
                        <br> Whether you're about to create a website for the first time or you're a long time pro, we've got you covered.
                        <br> Read on to find out how to get our free websites today. </p>
                        <div class="text-center"> <a id="button-started" class="btn btn-primary text-center" href="#services">Get Started!</a> </div>
        </div>
    </div>
</div>
<!-- <div class="background-color about-section" id="about">
  <div class="container">
      <div class="row">
         
          <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
       
         
              <div class="border"> </div>
      
              <div class="text-center"> <a id="button-started" class="btn btn-primary text-center" href="#services">Get Started!</a> </div>
          </div>
      
      </div>
  </div>
</div> -->