<section class="profile-main">
    
    
        <div class="container">
    
    
    
            <ul class="profile-menu" id="profile-menu">
                <li>
                      <a [routerLink]="['/markets', 'graphics']" [routerLinkActive]="['active']"> 
                        <!-- <div (click)="goToMarket('graphics')"> -->
                        <i class="fa fa-user"></i> <br>
                        <span title="Profile" value="Profile" class="iconTitle">
                            <!-- Profile -->
                            Graphics
                        </span>
                    <!-- </a>  -->
                <!-- </div> -->
                     </a> 
                </li>
                <li>
                    <a [routerLink]="['/markets', 'digital-marketing']" [routerLinkActive]="['active']">
                        <i class="fas fa-tasks"></i> <br>
                        <span class="iconTitle">
                            <!-- Projects -->
                            Digital Marketing
                        </span>
                    </a>
                </li>
    
                <li>
                    <a [routerLink]="['/markets', 'writing-translation']" [routerLinkActive]="['active']">
                        <i class="fa fa-heart"></i>
                        <span class="iconTitle">
                            Writing &amp; Translation
                            <!-- Favorites -->
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/markets', 'video-animation']" [routerLinkActive]="['active']">
                        <i class="fa fa-users"></i>
                        <span class="iconTitle">
                            <!-- Following -->
                            Video &amp; Animation
                        </span>
                    </a>
                </li>
    
                <li>
                    <a [routerLink]="['/markets', 'music-audio']" [routerLinkActive]="['active']">
                        <i class="fas fa-upload"></i>
                        <span class="iconTitle">
                            <!-- Uploads -->
                            Music &amp; Audio
                        </span>
                    </a>
                </li>
    
                <li>
                    <a [routerLink]="['/markets', 'programming-tech']" [routerLinkActive]="['active']">
                        <i class="fa fa-archive"></i>
                        <span class="iconTitle">
                            <!-- Subscriptions -->
                            Programming &amp; Tech
    
                        </span>
                    </a>
                </li>
    
                <li>
                    <a [routerLink]="['/markets', 'business']" [routerLinkActive]="['active']">
                        <i class="fa fa-life-ring"></i>
                        <span class="iconTitle">
                            <!-- Support -->
                            Business
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/markets', 'fun-lifestyle']" [routerLinkActive]="['active']">
                        <i class="fa fa-life-ring"></i>
                        <span class="iconTitle">
                            <!-- Support -->
                            Fun &amp; Lifestyle
                        </span>
                    </a>
                </li>
    
            </ul>
    
        </div>
    
    </section>