

    <!-- done by Shreya Khisa 2018 -->
    <!-- total services section starts -->
    <div class="container-fluid footerContainer">
        <div class="row serviceArea">
          <!-- first column starts -->
          <div class="col">
              <h4>Categories</h4>
            <nav>
        <ul class="navbar-nav">
          
          <li>
            <a [routerLink]="['/markets', 'graphics']">Graphics &amp; Design</a>
          </li>
          <li>
            <a [routerLink]="['/markets', 'digital-marketing']">Digital Marketing</a>
          </li>
          <li>
            <a [routerLink]="['/markets', 'video-animation']">Video &amp; Animation</a>
          </li>
      
          <li>
            <a [routerLink]="['/markets', 'music-audio']">Music &amp; Audio</a>
          </li>
      <li>
        <a [routerLink]="['/markets', 'writing-translation']">Writing &amp; Translation</a>
      </li>
          <li>
            <a [routerLink]="['/markets', 'programming-tech']">Programming &amp; Tech</a>
          </li>
          <li>
            <a [routerLink]="['/markets', 'business']">Business</a>
          </li>
          <li><a [routerLink]="['/markets', 'fun-lifestyle']">Fun &amp; Lifetyle</a></li>
          <!-- <li><a [routerLink]="['/markets', '']">Sitemap</a></li> -->
        </ul>
        </nav>
      </div>
      <!-- second column starts -->
          <div class="col">
            
              <h4>About</h4>
                
            <nav>
              <ul class="navbar-nav">
                  
                  <li>
                    <a href="#">Careers</a>
                  </li>
                  <li>
                    <a href="#">Press &amp; News</a>
                  </li>
                  <li>
                    <a href="#">Partnerships</a>
                  </li>
              
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
              
                  <li>
                    <a href="#">Terms of Service</a>
                  </li>
                  
                </ul>
            </nav>
          </div>
      <!-- third column starts -->
          <div class="col">
              
                  <h4>Support</h4>
                    
              <nav>
              <ul class="navbar-nav">
                 
                  <li>
                    <a href="#">Contact Support</a>
                  </li>
                  <li>
                    <a href="#">Help &amp; Education</a>
                  </li>
                  <li>
                    <a href="#">Trust &amp; Safety</a>
                  </li>
              
                  <li>
                    <a href="#">Selling Online</a>
                  </li>
              
                  <li>
                    <a href="#">Buying Online</a>
                  </li>
                  
                </ul>
                </nav>
          </div>
          <!-- fourth column starts -->
          <div class="col">
              
                  <h4>Community</h4>
                    
              <nav>
              <ul class="navbar-nav">
                
                  <li>
                    <a href="#">Blog</a>
                  </li>
                  <li>
                    <a href="#">Forum</a>
                  </li>
                  <li>
                    <a href="#">Podcast</a>
                  </li>
              
                  <li>
                    <a href="#">Affiliates</a>
                  </li>
              
                  <li>
                    <a href="#">Invite a Friend</a>
                  </li>
                 
                </ul>
                </nav>
          </div>
          <!-- fifth column starts -->
          <div class="col">
              
                  <h4>For Freelancers</h4>
                    
              <nav>
              <ul class="navbar-nav">
                 
                  <li>
                    <a href="#">Become a Seller</a>
                  </li>
                  <li>
                    <a href="#">Online PRO</a>
                  </li>
                 
                </ul>
                </nav>
          </div>
        
      
        </div>
      <div class="line"><hr></div>
      <div class="row footerArea">
        
          <div class="col-lg-9 col-md-8 col-sm-4"> 
            <span class="footer-text">Copyright © 2018. All Rights Reserved by 
              <a>WebsiteOnline.net </a></span>
             </div>
             
      <div class="col-lg-3 col-md-4 col-sm-8 social-icons">
        
          <a href="#" style="color:blue"><i class="fab fa-facebook"></i></a>
        
          <a href="#" ><i class="fab fa-twitter "></i></a>
          <a href="#" style="color:red"><i class="fab fa-google-plus "></i></a>
          <a href="#" style="color:#0e76a8"><i class="fab fa-linkedin "></i></a>
          <a href="#" style="color:#800000"><i class="fab fa-pinterest"></i></a>
          
      </div>
      </div>
      </div>
      
      
      <!-- total services section ends -->
      <!-- done by Shreya Khisa 2018 -->
      