
<!-- <app-graphics-navbar></app-graphics-navbar> -->

<section class="profile-middle">
  
  
  
  <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
  
  
      <section class="user-card">
  
        <div class="card">
          <div class="card-block">
              
               <div class="profile-div">
                  <a href="#" class="profile-image"><img class="img-responsive img-thumbnail rounded-circle d-block mx-auto avatar_img example  z-depth-5" src="https://profile.freepik.com/accounts/avatar/default_07.png?" ></a>
  
               </div>
                 
                    
    <a class="card-title text-center username d-block mx-auto">Nishat Reza</a>
    <div class="card-footer links">

        <span class="btn btn-default btn-file btn-secondary d-block mx-auto">
            <i class="fas fa-file-image"></i> Upload pic. <input type="file" formControlName="avatar">
        </span>
       
      </div>
   
          </div>
        </div>
       
        </section>
    </div>
  
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
  
  
      <div class="card next-card">
          <div class="card-header">
             <h4> <span>Learn With</span> no Upfront Tuition</h4>
            </div>
        <div class="card-block">
  
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <form class="form-inner">
                        <div class="form-group row">
 
                          <input type="text" class="form-control form-control-md" id="formGroupExampleInput" placeholder="Name" formControlName="name">
                        </div>
                        <div class="form-group row">
                            
                               <input type="email" class="form-control form-control-md" id="formGroupExampleInput2" placeholder="Email" formControlName="email">
                             </div>
                        <div class="form-group row">
                       
                          <input type="text" class="form-control form-control-md" id="formGroupExampleInput2" placeholder="Phone" formControlName="phone">
                        </div>
                        <div class="form-group row">
                            
                                <input type="text" class="form-control form-control-md" id="formGroupExampleInput2" placeholder="Address" formControlName="address">
                              </div>
                              <div class="form-group row">
                                  
                                   <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Career Objective" formControlName="careerObjective"></textarea>
                                 </div>
                        <div class="form-group row">
                          
                           <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Skill summary" formControlName="skillSummary"></textarea>
                         </div>
                         <div class="form-group row">
                            
                             <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Professional summary" formControlName="professionalSummary"></textarea>
                           </div>
                           <div class="form-group row">
                              
                               <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="It will be a long journey with us. Are you ready for that? Tell us about it" formControlName="about"></textarea>
                             </div>
                         <div class="form-group">
                          <label for="exampleInputFile">Upload your CV</label> 
                          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" formControlName="uploadFile">
                          <small id="fileHelp" class="form-text text-muted">File size should be less than 1MB and format would be like .pdf, .doc</small>
                        </div>

                        <div class="form-group form-social">
                            <label for="formGroupExampleInput" id="social-text"> <strong>Social</strong> </label>
  
                            <span class="input-group-addon">
                              <i class="fab fa-skype"></i>
                            </span>
                            <input type="text" class="form-control form-control-md" id="formGroupExampleInput" placeholder="Your Skype ID" formControlName="skypId">
                          </div>
    
                          <div class="btn-save-div pull-right">
                              <button type="button" class="btn btn-primary btn-lg" id="btn-save-changes">Save changes</button>
                          </div>
                      </form>
                </div>
          
           
              </div>
  
  
             
            
        
               
  
      
  
        </div>
      </div>
   
  
    </div>
  </div>
  
  </div>
  
  </section>