<div class="container">
  <div class="row">
    <div class="col-lg-6">
<a href="" class="support-section">
    <div class="card">
        <a href="" class="freepik-guides">Freepik Guides</a>

        <div class="card-block">
          <ul class="freepik-lists">
            <li>
                <a href="" class="text-freepik">When do I need to provide attribution to the author?</a> 
            </li><br>
            <li>
                <a href="" class="text-freepik">How can I use Freepik's resources for commercial purposes?</a> 
            </li><br>
            <li>
                <a href="" class="text-freepik">How do I become a Premium Member of Freepik?</a> 
            </li><br>
            <li>
                <a href="" class="text-freepik">How can I download the license for each resource?</a> 
            </li><br>
            <li>
                <a href="" class="text-freepik">How many resources can I download?</a> 
            </li><br>
            <li>
                <a href="" class="text-freepik">Where can I download the invoices of my payments?</a> 
            </li>
          </ul>
        </div>
        <div class="card-footer text-muted">
 <p>  + See all 9 articles</p>
        </div>
      </div>
</a>
</div>
<div class="col-lg-6">
    <a href="" class="support-section">
        <div class="card">
            <a href="" class="freepik-guides">Freepik User</a>
    
            <div class="card-block">
              <ul class="freepik-lists">
                <li>
                    <a href="" class="text-freepik">Is Freepik content for free?</a> 
                </li><br>
                <li>
                    <a href="" class="text-freepik">How can I use Freepik content as a Free User?</a> 
                </li><br>
                <li>
                    <a href="" class="text-freepik">How do I insert the attribution correctly?</a> 
                </li><br>
                <li>
                    <a href="" class="text-freepik">How can I download images as a Free User?</a> 
                </li>
              </ul>
            </div>
   
          </div>
    </a>
    </div>
</div>
</div>

