.freelancer-grid{
  font-family: "Open Sans","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
}
.work-info h5{
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .work-info p{
    margin-bottom: 0;
  }
  .favCard{
    margin-top: -10px;
    padding-bottom: 0;
  }
 
  .my-pagination /deep/ .ngx-pagination .disabled  {
    color: slategrey;
    
  }
  .my-pagination /deep/ .ngx-pagination a {
    
    color: slategrey;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
  }
  .my-pagination /deep/ .ngx-pagination a:hover {
    
    background-color:silver;
    
  }
 
    .my-pagination /deep/ .ngx-pagination{
      font-size: 17px;
      margin-top: 6%;
      margin-left: 23%;
    }
  .freelancer-grid{
      padding: 50px 0;
      background-color: #1A1A1A;
   
  }
  .card{
    margin-top: 5%;
    border:1px solid #E0E0E0;
    cursor: pointer;
    height: 100%;
  }
  
  .carousel slide{
      width:100%;
      
  }
  .alert-danger{

    margin: 1rem;

}
.seller-card{
  background-color: white;
  font-family: "Open Sans","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
}
.alert{
  padding: 0px 0px;
}
  .carousel-item img{
    height: auto;
    width: 100%;
    max-height: 170px;
  }
  
  .customCard{
    min-width: 250px;
    margin-bottom: 40px;
  }
  
  .freelancer-info{
      
      padding-top: 10px;
      padding-left: 10px;
  }
  .freelancer-name{
      display: flex;
  }
  .freelancer-image{
      overflow: hidden;
  }
  .freelancer-image img{
      height: 45px;
      width: 45px;
      border-radius: 50%;
      margin-left: 5px;
      margin-top: 5px;
  }
  .name-area{
      
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #000000;
      margin-left: 10px;
      overflow: hidden;
      
  }
  
  .name-area h4{
      font-size: 13px;
      text-transform: none;
      font-weight: normal;
      margin: 0;
      padding: 0;
      display: inline-block;
      
      
  }
  .noItem h6{
    font-size:20px;
  }
  .name-area h5{
      font-size: 13px;
      text-transform: none;
      font-weight: normal;
      white-space: wrap;
      margin: 0;
      color: gray;
      padding: 0;
  }
  .work-info{
      padding-top: 10px;
      margin-left: 10px;
  }
  .work-info p{
      color: #000000;
      font-size: 15px;
    
  }
  .seller-ratings{
      padding-top: 5px;
      display: flex;
      padding-left: 10px;
      margin-bottom:15px;
      
      
  }
  .rating-icon{
      color: #FFC100;
      font-size: 12px;
  }
  .rating-value{
      color: #FFC100;
      font-size: 12px;
      padding-left: 2px;
      font-weight: bold;
  }
  .people-rated{
      color:#B2B2B2;
      font-size: 12px;
      display: inline;
      padding-left: 2px;
  }
  .card-body{
      border-top: 1px solid #E0E0E0;
      width: 100%;
      padding-top:5px;
      padding-left:5px;
      display: flex;
      
  }
  
  .gig-price{
      
      color: black;
      margin-left: 55px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-top: 5px;
  }
  .gig-price h5{
      font-size: 13px;
      text-transform: uppercase;
      font-weight: normal;
      white-space: wrap;
      margin: 0;
      color: gray;
      padding: 0;
     
  }
  .gig-price p{
      font-size: 20px;
      color: black;
      white-space: wrap;
      margin: 0;
      padding: 0;
      display: inline;
  }
  /*responsive*/
  
  
  
  /* side menu */
  /* .sidemenu{
      background: #1a1a1a;
      font-family: hco gotham ssm,helvetica neue,Helvetica,Arial,sans-serif;
  } */
  /* .col-sm-3{
      padding-left: 0;
      border-right: 0;
  } */
  .menu{
  background: #262626;
  /* width: 250px;
  padding-left: 5%;
  padding-right: 5%; */
  padding: 0 5%;
  margin-bottom: 5%;
  }
  .left{
      text-align: left;
  }
  .top{
        padding-top: 3%;
  }
  .ProGig{
      padding-left: 2%;
  }
  .bicon{
      font-size: 40px;
      color: #17a2b8;
  }
  .right{
      text-align: right;
  }
  .result{
      padding: 2% 0%;
  }
  td{
      font-size: 14px;
  }
  th{
      font-size: 16px;
  }
  th, td{
      color:#ffffff;
  }
  th a{
      font-size: 13px;
  }
  a:hover{
      text-decoration: none;
  }
  table{
      width: 100%;
  }
  hr{
      border-color:#3f3e3e;
      margin:3% 0%;
  }
  .inputWidth{
      width: 50px;
  }
  .inputlast{
      width: 30px;
      text-align: center;
      color:#1a1a1a;
  }.example .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
  }
  .btn-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
  }
  .btn-toggle:focus,
  .btn-toggle.focus,
  .btn-toggle:focus.active,
  .btn-toggle.focus.active {
    outline: none;
  }
  .btn-toggle:before,
  .btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
  }
  .btn-toggle:before {
    content: 'Off';
    left: -4rem;
  }
  .btn-toggle:after {
    content: 'On';
    right: -4rem;
    opacity: .5;
  }
  .btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left .25s;
  }
  .btn-toggle.active {
    transition: background-color 0.25s;
  }
  .btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left .25s;
  }
  .btn-toggle.active:before {
    opacity: .5;
  }
  .btn-toggle.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-sm:before,
  .btn-toggle.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: .75px;
    left: 0.4125rem;
    width: 2.325rem;
  }
  .btn-toggle.btn-sm:before {
    text-align: right;
  }
  .btn-toggle.btn-sm:after {
    text-align: left;
    opacity: 0;
  }
  .btn-toggle.btn-sm.active:before {
    opacity: 0;
  }
  .btn-toggle.btn-sm.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-xs:before,
  .btn-toggle.btn-xs:after {
    display: none;
  }
  .btn-toggle:before,
  .btn-toggle:after {
    color: #6b7381;
  }
  .btn-toggle.active {
    background-color: #29b5a8;
  }
  .btn-toggle.btn-lg {
    margin: 0 5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 2.5rem;
    width: 5rem;
    border-radius: 2.5rem;
  }
  .btn-toggle.btn-lg:focus,
  .btn-toggle.btn-lg.focus,
  .btn-toggle.btn-lg:focus.active,
  .btn-toggle.btn-lg.focus.active {
    outline: none;
  }
  .btn-toggle.btn-lg:before,
  .btn-toggle.btn-lg:after {
    line-height: 2.5rem;
    width: 5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
  }
  .btn-toggle.btn-lg:before {
    content: 'Off';
    left: -5rem;
  }
  .btn-toggle.btn-lg:after {
    content: 'On';
    right: -5rem;
    opacity: .5;
  }
  .btn-toggle.btn-lg > .handle {
    position: absolute;
    top: 0.3125rem;
    left: 0.3125rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    background: #fff;
    transition: left .25s;
  }
  .btn-toggle.btn-lg.active {
    transition: background-color 0.25s;
  }
  .btn-toggle.btn-lg.active > .handle {
    left: 2.8125rem;
    transition: left .25s;
  }
  .btn-toggle.btn-lg.active:before {
    opacity: .5;
  }
  .btn-toggle.btn-lg.active:after {
    opacity: 1;
  }
  
  
  .btn-toggle.btn-lg.btn-sm:before,
  .btn-toggle.btn-lg.btn-sm:after {
    line-height: 0.5rem;
    color: #fff;
    letter-spacing: .75px;
    left: 0.6875rem;
    width: 3.875rem;
  }
  .btn-toggle.btn-lg.btn-sm:before {
    text-align: right;
  }
  .btn-toggle.btn-lg.btn-sm:after {
    text-align: left;
    opacity: 0;
  }
  .btn-toggle.btn-lg.btn-sm.active:before {
    opacity: 0;
  }
  .btn-toggle.btn-lg.btn-sm.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-lg.btn-xs:before,
  .btn-toggle.btn-lg.btn-xs:after {
    display: none;
  }
  .btn-toggle.btn-sm {
    margin: 0 0.5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
  }
  .btn-toggle.btn-sm:focus,
  .btn-toggle.btn-sm.focus,
  .btn-toggle.btn-sm:focus.active,
  .btn-toggle.btn-sm.focus.active {
    outline: none;
  }
  .btn-toggle.btn-sm:before,
  .btn-toggle.btn-sm:after {
    line-height: 1.5rem;
    width: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.55rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
  }
  .btn-toggle.btn-sm:before {
    content: 'Off';
    left: -0.5rem;
  }
  .btn-toggle.btn-sm:after {
    content: 'On';
    right: -0.5rem;
    opacity: .5;
  }
  .btn-toggle.btn-sm > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left .25s;
  }
  .btn-toggle.btn-sm.active {
    transition: background-color 0.25s;
  }
  .btn-toggle.btn-sm.active > .handle {
    left: 1.6875rem;
    transition: left .25s;
  }
  .btn-toggle.btn-sm.active:before {
    opacity: .5;
  }
  .btn-toggle.btn-sm.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-sm.btn-sm:before,
  .btn-toggle.btn-sm.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: .75px;
    left: 0.4125rem;
    width: 2.325rem;
  }
  .btn-toggle.btn-sm.btn-sm:before {
    text-align: right;
  }
  .btn-toggle.btn-sm.btn-sm:after {
    text-align: left;
    opacity: 0;
  }
  .btn-toggle.btn-sm.btn-sm.active:before {
    opacity: 0;
  }
  .btn-toggle.btn-sm.btn-sm.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-sm.btn-xs:before,
  .btn-toggle.btn-sm.btn-xs:after {
    display: none;
  }
  .btn-toggle.btn-xs {
    margin: 0 0;
    padding: 0;
    position: relative;
    border: none;
    height: 1rem;
    width: 2rem;
    border-radius: 1rem;
  }
  .btn-toggle.btn-xs:focus,
  .btn-toggle.btn-xs.focus,
  .btn-toggle.btn-xs:focus.active,
  .btn-toggle.btn-xs.focus.active {
    outline: none;
  }
  .btn-toggle.btn-xs:before,
  .btn-toggle.btn-xs:after {
    line-height: 1rem;
    width: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
  }
  .btn-toggle.btn-xs:before {
    content: 'Off';
    left: 0;
  }
  .btn-toggle.btn-xs:after {
    content: 'On';
    right: 0;
    opacity: .5;
  }
  .btn-toggle.btn-xs > .handle {
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.75rem;
    background: #fff;
    transition: left .25s;
  }
  .btn-toggle.btn-xs.active {
    transition: background-color 0.25s;
  }
  .btn-toggle.btn-xs.active > .handle {
    left: 1.125rem;
    transition: left .25s;
  }
  .btn-toggle.btn-xs.active:before {
    opacity: .5;
  }
  .btn-toggle.btn-xs.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-xs.btn-sm:before,
  .btn-toggle.btn-xs.btn-sm:after {
    line-height: -1rem;
    color: #fff;
    letter-spacing: .75px;
    left: 0.275rem;
    width: 1.55rem;
  }
  .btn-toggle.btn-xs.btn-sm:before {
    text-align: right;
  }
  .btn-toggle.btn-xs.btn-sm:after {
    text-align: left;
    opacity: 0;
  }
  .btn-toggle.btn-xs.btn-sm.active:before {
    opacity: 0;
  }
  .btn-toggle.btn-xs.btn-sm.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-xs.btn-xs:before,
  .btn-toggle.btn-xs.btn-xs:after {
    display: none;
  }
  .btn-toggle.btn-secondary {
    color: #6b7381;
    background: #bdc1c8;
  }
  .btn-toggle.btn-secondary:before,
  .btn-toggle.btn-secondary:after {
    color: #6b7381;
  }
  .btn-toggle.btn-secondary.active {
    background-color: #ff8300;
  }
  
  .LogoDesign{
      background-color: #1A1A1A;
  
      font-family: hco gotham ssm,helvetica neue,Helvetica,Arial,sans-serif;
  }
  .LogoDesignHeader{
      line-height: 1.2;
      padding:2% 4%;
      text-align: center;
  }
  .LogoDesignTitle{
      color: #2CCFB4;
      font-size: 32px;
      line-height: 50px;
      font-weight: bold;
  }
  .LogoDesignContent{
      color: white;
      line-height: 30px;
      font-size: 16px;
  }
  .LogoDesignContent a:hover{
      color: inherit;
  }
  /* hr{
      border-color:#3f3e3e;
  } */
  
  .DesignStyle{
      background: #1A1A1A;
      text-align: center;
  }
  .Designer{
      color: #999;
      font-size: 20px;
      font-weight: 500;
      padding-top: 48px;
  }
  .Style{
      color: #00698c;
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
      padding-bottom:1%;
  }
  hr{
      margin:0;
      padding: 0;
  }
  .LogoDesignCard{
      background: #1A1A1A;
  
      padding-top: 2%;
    }
    .img{
      background: #fff;
      width: auto;
      height: auto;
    }
  .img img{
   width: 80%;
   height: auto;
   padding-top:10%;	
  }
  .img p{
      color:#ADADAD;
      padding-top: 20%;
      font-size: 13px;
      padding-bottom: 10%;
  }
  .row{
     width: auto;
     height: auto;
  }
  .col-lg-2{
      margin: 1% auto;
      text-align: center;
      float: none;
      width: auto;
      height: auto;
  
  }
  @media (min-width: 100px) {
    .seven-cols .col-lg-2 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
  .seven-cols{
    min-width:700px;
  }
  @media all and (min-width:300px) and (max-width:390px){
    .my-pagination /deep/ .ngx-pagination{
      /* font-size: 17px;
      margin-top: 4%; */
      margin-left:1.3%;
    }
  }
  @media all and (min-width:391px) and (max-width:575px){
.my-pagination /deep/ .ngx-pagination{
      /* font-size: 17px;
      margin-top: 4%; */
      margin-left:5%;
    }
  }