<div class="home-header">
    <div class="container">
        <div class="row head-wrap">
            <div class="col-lg-10 headertext text-center">
                <h1>
                    <strong>WEBSITE ONLINE </strong>
                </h1>

                <hr> </div>

            <div class="col-lg-8 paragraphtext text-center">
                <p class="paragraph-top"> We empower startups around the globe</p>
                <p class="paragraph-top">To get strated </p>
                <a [routerLink]="['/signin']" id="btn-facebook">Sign In</a>
                <span class="paragraph-top or">or</span>
                <a [routerLink]="['/signup']" id="btn-google">Sign Up</a>
            </div>

        </div>
    </div>
</div>