


<div class="LogoDesign">
    <div class="container-fluid">
        <div class="LogoDesignHeader">
            <div class="LogoDesignTitle">
                Logo Design
            </div>
            <div class="LogoDesignContent">
                Want to say more with less? Brand recognition is just a custom logo design away 
                 <br>
                 <a href="#"><i class="fa fa-play-circle">&nbsp;&nbsp;</i>How Fiverr Works</a>
            </div>
        </div>
        <hr>
    </div>
    <hr>
    <!-- <div class="DesignStyle">
        <div class="Designer">
            Find A Logo Designer In 3 Easy Steps
        </div>
        <div class="Style">
            Choose a design style
        </div>
        <div style="padding-left:33%;">
            <div class="progress" style="width: 50%">
               <div class="progress-bar" role="progressbar" style="width: 25%; height: .75px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>  
    </div>
    <div class="LogoDesignCard">
        <div class="container">
            <div class="row seven-cols">
                 <div class="col-lg-2">
                  <div class="img">
                      <img src="http://assetsv2.fiverrcdn.com/assets/v2_photos/logo_onboarding/logo-3b-c92c9bc9666aa98f6771513b71678ffb.png">
                      <p>Signature</p>
                  </div>
                </div>
  
              <div class="col-lg-2 ">
                  <div class="img">
                      <img src="http://assetsv2.fiverrcdn.com/assets/v2_photos/logo_onboarding/logo-4b-cdbd499704f824678526707cf35d3df2.png">
                      <p>Watercolor</p>
                  </div>
              </div>
  
              <div class="col-lg-2 ">
                  <div class="img">
                      <img src="http://assetsv2.fiverrcdn.com/assets/v2_photos/logo_onboarding/logo-5b-92a3d190f11e59bfc60ea0407de182b7.png">
                      <p>Flat</p>
                  </div>
              </div>
  
              <div class="col-lg-2">
                  <div class="img">
                      <img src="http://assetsv2.fiverrcdn.com/assets/v2_photos/logo_onboarding/logo-2b-3ddc98aedf58a54de3928d79e70d11ab.png">
                      <p>Mascot</p>
                  </div>
              </div>
  
              <div class="col-lg-2 ">
                  <div class="img">
                      <img src="http://assetsv2.fiverrcdn.com/assets/v2_photos/logo_onboarding/logo-1b-65486aad50f0256e4de6f0e6584b6dea.png">
                      <p>H-D</p>
                  </div>
              </div>
  
              <div class="col-lg-2">
                  <div class="img">
                      <img src="http://assetsv2.fiverrcdn.com/assets/v2_photos/logo_onboarding/logo-8b-c2846c4b122c68330faacb032623fd34.png">
                      <p>Vintage</p>
                  </div>                  
              </div>
  
              <div class="col-lg-2">
                  <div class="img">
                      <img src="http://assetsv2.fiverrcdn.com/assets/v2_photos/logo_onboarding/logo-6b-ef3fa8a1af99392897100c3e957affab.png">
                       <p>3D</p>
                  </div>

              </div>
            </div>
        </div>
    </div> -->
</div>
