.LogoDesign{
	background-color: #1A1A1A;

	font-family: hco gotham ssm,helvetica neue,Helvetica,Arial,sans-serif;
}
.LogoDesignHeader{
	line-height: 1.2;
	padding:2% 4%;
	text-align: center;
}
.LogoDesignTitle{
	color: #2CCFB4;
	font-size: 32px;
    line-height: 50px;
    font-weight: bold;
}
.LogoDesignContent{
	color: white;
	line-height: 30px;
	font-size: 16px;
}
.LogoDesignContent a:hover{
	color: inherit;
}
/* hr{
	border-color:#3f3e3e;
} */

.DesignStyle{
	background: #1A1A1A;
	text-align: center;
}
.Designer{
    color: #999;
    font-size: 20px;
    font-weight: 500;
    padding-top: 48px;
}
.Style{
    color: #00698c;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom:1%;
}
hr{
	margin:0;
	padding: 0;
}
.LogoDesignCard{
	background: #1A1A1A;

	padding-top: 2%;
  }
  .img{
    background: #fff;
    width: auto;
    height: auto;
  }
.img img{
 width: 80%;
 height: auto;
 padding-top:10%;	
}
.img p{
	color:#ADADAD;
	padding-top: 20%;
	font-size: 13px;
	padding-bottom: 10%;
}
.row{
   width: auto;
   height: auto;
}
.col-lg-2{
	margin: 1% auto;
	text-align: center;
	float: none;
	width: auto;
	height: auto;

}
@media (min-width: 100px) {
  .seven-cols .col-lg-2 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
.seven-cols{
  min-width:700px;
}