<div class="jumbotron portfolio-images">
    <div class="container">
        <div class="col-lg-12 content-header-text">
            <p class="text-center selection-texts">11,942 Free Graphics Resources </p>

        </div>


    </div>
    <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12 text-center">
                    <p class="selection-small">Free Graphics files for
                        <strong>personal </strong>and
                        <strong> commercial use.</strong>
                    </p>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 icons-all">
                    <a href="#">
                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>

                    </a>




                    <a href="#">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    </a>


                    <a href="#">
                        <i class="fab fa-twitter" aria-hidden="true"></i>

                    </a>


                    <a href="#">
                        <i class="fab fa-stumbleupon" aria-hidden="true"></i>

                    </a>

                </div>
            </div>



        </div>

    <br>

    <div class="container">
        <div class="row">


            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="container sidebar-panel">



                    <div class="row">
                        <div class="col-lg-12 title-left-sidebar">
                            FILETYPES
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="left-side-portion">
                                <li class="active">
                                    <a href="" class="vector-text"> Vectors</a>
                                </li>


                            </ul>
                        </div>

                        <div class="col-lg-6 left-icons">
                            <ul class="left-icons-portion">
                                <li class="pull-right">
                                    <a href="">
                                        <i class="far fa-image" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="left-side-portion">
                                <li class="active">
                                    <a href="" class="phototext">Photos</a>
                                </li>


                            </ul>
                        </div>

                        <div class="col-lg-6 left-icons">
                            <ul class="left-icons-portion">
                                <li class="pull-right">
                                    <a href="">
                                        <i class="far fa-image" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="left-side-portion">
                                <li class="active">
                                    <a href="" class="icontext"> Icons</a>
                                </li>


                            </ul>
                        </div>

                        <div class="col-lg-6 left-icons">
                            <ul class="left-icons-portion">
                                <li class="pull-right">
                                    <a href="">
                                        <i class="far fa-image" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="left-side-portion">
                                <li class="active">
                                    <a href="" class="psdtext"> PSD</a>
                                </li>


                            </ul>
                        </div>

                        <div class="col-lg-6 left-icons">
                            <ul class="left-icons-portion">
                                <li class="pull-right">
                                    <a href="">
                                        <i class="far fa-image" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-3 col-xs-12">
                            <label for="showitem" class="col-form-label col-form-label-sm showtext">Show</label>
                        </div>
                        <div class="col-lg-9 col-xs-12">
                            <form action="" class="">

                                <div class="form-group">




                                    <select class="form-control form-control-sm" id="showitem" type="text">
                                        <option selected>most popular</option>
                                        <option>latest</option>

                                    </select>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <a href="" class="catgry-text">All Categories</a>
                        </div>

                    </div>
                    <div class="row ctgry-all-items">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul class="categry-items-first">
                                <li>Animals</li>
                                <li>Banners</li>
                                <li>Business</li>
                                <li>Cartoon</li>
                                <li>Design Elements</li>
                                <li>Graphics</li>
                                <li>Human</li>
                                <li>Illustrations</li>
                                <li>Map</li>
                                <li>Nature</li>
                                <li>Ornament</li>
                                <li>Silhouettes</li>
                                <li>Summer</li>
                                <li>Textures</li>
                                <li>Valentine </li>
                                <li>Web Elements</li>
                                <li>Wedding</li>

                            </ul>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul class="categry-items-first">
                                <li>Background</li>
                                <li>Birthday</li>
                                <li>Buttons</li>
                                <li>Christmas</li>
                                <li>Easter</li>
                                <li>Halloween</li>
                                <li>Icons</li>
                                <li>Logo Templates</li>
                                <li>Music</li>
                                <li>Objects</li>
                                <li>Ribbons</li>
                                <li>Sports</li>
                                <li>Templates</li>
                                <li>Transport</li>
                                <li>Water</li>
                                <li>Web Templates</li>
                                <li>Signs And Symbols</li>

                            </ul>
                        </div>
                    </div>
                </div>


            </div>


            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="row">




                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="containerimages">
                            <a class="imageszoom" href="https://image.freepik.com/free-vector/modern-professional-business-card_1043-560.jpg" title="Title">
                                <img src="https://image.freepik.com/free-vector/modern-professional-business-card_1043-560.jpg" class="images img-thumbnail"> </a>
                            <span class="fp-selection badge" data-text="Selection"></span>
                            <div class="overlay">
                                <div class="text-selection">New</div>
                                <div class="texthello">Abstract business card</div>
                                <span class="downloads">
                                    <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                                <span class="favourite">
                                    <i class="fas fa-heart" aria-hidden="true"></i> 145</span>
                                <span class="week" title="9,262 downloads" alt="9,262 downloads"> 2 weeks ago</span>
                                <a href="#" class="gr_favorite favourite-sqaure">
                                    <i class="fas fa-heart color-heart" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="gr_favorite share">
                                    <i class="fas fa-share-alt" aria-hidden="true"></i>
                                    <span class="icon">
                                        <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>




                                    </span>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="containerimages">
                            <a class="imageszoom" href="https://image.freepik.com/free-vector/9-social-networking_1128-335.jpg" title="Title">
                                <img src="https://image.freepik.com/free-vector/9-social-networking_1128-335.jpg" class="images img-thumbnail"> </a>
                            <span class="fp-selection badge" data-text="Selection"></span>
                            <div class="overlay">
                                <div class="text-selection">New</div>
                                <div class="texthello">Abstract business card</div>
                                <span class="downloads">
                                    <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                                <span class="favourite">
                                    <i class="fa fa-heart" aria-hidden="true"></i> 145</span>
                                <span class="week" title="9,262 downloads" alt="9,262 downloads"> 2 weeks ago</span>
                                <a href="#" class="gr_favorite favourite-sqaure">
                                    <i class="fa fa-heart color-heart" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="gr_favorite share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    <span class="icon">
                                        <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>



                                    </span>

                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="containerimages">
                            <a class="imageszoom" href="https://image.freepik.com/free-vector/watercolour-splatter-in-rainbow-colours_1048-6320.jpg"
                                title="Title">
                                <img src="https://image.freepik.com/free-vector/watercolour-splatter-in-rainbow-colours_1048-6320.jpg" class="images img-thumbnail"> </a>
                            <span class="fp-selection badge" data-text="Selection"></span>
                            <div class="overlay">
                                <div class="text-selection">New</div>
                                <div class="texthello">Abstract business card</div>
                                <span class="downloads">
                                    <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                                <span class="favourite">
                                    <i class="fa fa-heart" aria-hidden="true"></i> 145</span>
                                <span class="week" title="9,262 downloads" alt="9,262 downloads"> 2 weeks ago</span>
                                <a href="#" class="gr_favorite favourite-sqaure">
                                    <i class="fa fa-heart color-heart" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="gr_favorite share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    <span class="icon">
                                        <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>


                                    </span>
                                </a>

                            </div>
                        </div>
                    </div>





                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="containerimages">
                            <a class="imageszoom" href="https://image.freepik.com/free-vector/circular-marketing-elements-background_23-2147748404.jpg"
                                title="Title">
                                <img src="https://image.freepik.com/free-vector/circular-marketing-elements-background_23-2147748404.jpg" class="images img-thumbnail"> </a>
                            <span class="fp-selection badge" data-text="Selection"></span>
                            <div class="overlay">
                                <div class="text-selection">New</div>
                                <div class="texthello">Abstract business card</div>
                                <span class="downloads" title="9,262 downloads" alt="9,262 downloads">
                                    <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                                <span class="favourite">
                                    <i class="fa fa-heart" aria-hidden="true"></i> 145</span>
                                <span class="week"> 2 weeks ago</span>
                                <a href="#" class="gr_favorite favourite-sqaure">
                                    <i class="fa fa-heart color-heart" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="gr_favorite share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    <span class="icon">
                                        <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>

                                    </span>
                                </a>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="containerimages">
                            <a class="imageszoom" href="https://image.freepik.com/free-vector/watercolor-spring-background_23-2147749492.jpg" title="Title">
                                <img src="https://image.freepik.com/free-vector/watercolor-spring-background_23-2147749492.jpg" class="images img-thumbnail"> </a>
                            <span class="fp-selection badge" data-text="Selection"></span>
                            <div class="overlay">
                                <div class="text-selection">New</div>
                                <div class="texthello">Abstract business card</div>
                                <span class="downloads">
                                    <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                                <span class="favourite">
                                    <i class="fa fa-heart" aria-hidden="true"></i> 145</span>
                                <span class="week" title="9,262 downloads" alt="9,262 downloads"> 2 weeks ago</span>
                                <a href="#" class="gr_favorite favourite-sqaure">
                                    <i class="fa fa-heart color-heart" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="gr_favorite share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    <span class="icon">
                                        <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>

                                    </span>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="containerimages">
                            <a class="imageszoom" href="https://image.freepik.com/free-vector/modern-red-business-brochure-template_23-2147724703.jpg"
                                title="Title">
                                <img src="https://image.freepik.com/free-vector/modern-red-business-brochure-template_23-2147724703.jpg" class="images img-thumbnail"> </a>
                            <span class="fp-selection badge" data-text="Selection"></span>
                            <div class="overlay">
                                <div class="text-selection">New</div>
                                <div class="texthello">Abstract business card</div>
                                <span class="downloads">
                                    <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                                <span class="favourite">
                                    <i class="fa fa-heart" aria-hidden="true"></i> 145</span>
                                <span class="week" title="9,262 downloads" alt="9,262 downloads"> 2 weeks ago</span>
                                <a href="#" class="gr_favorite favourite-sqaure">
                                    <i class="fa fa-heart color-heart" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="gr_favorite share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    <span class="icon">
                                        <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>

                                    </span>

                                </a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">


                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="containerimages">
                        <a class="imageszoom" href="https://image.freepik.com/free-vector/chinese-new-year-background_23-2147730109.jpg" title="Title">
                            <img src="https://image.freepik.com/free-vector/chinese-new-year-background_23-2147730109.jpg" class="images img-thumbnail"> </a>
                        <span class="fp-selection badge" data-text="Selection"></span>
                        <div class="overlay">
                            <div class="text-selection">New</div>
                            <div class="texthello">Abstract business card</div>
                            <span class="downloads">
                                <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                            <span class="favourite">
                                <i class="fa fa-heart" aria-hidden="true"></i> 145</span>
                            <span class="week" title="9,262 downloads" alt="9,262 downloads"> 2 weeks ago</span>
                            <a href="#" class="gr_favorite favourite-sqaure">
                                <i class="fa fa-heart color-heart" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="gr_favorite share">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                <span class="icon">
                                    <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    <i class="fab fa-google-plus-g" aria-hidden="true"></i>

                                </span>

                            </a>

                        </div>
                    </div>
                </div>









                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="containerimages">
                        <a class="imageszoom" href="https://image.freepik.com/free-vector/watercolor-frame-background_23-2147732511.jpg" title="Title">
                            <img src="https://image.freepik.com/free-vector/watercolor-frame-background_23-2147732511.jpg" class="images img-thumbnail"> </a>
                        <span class="fp-selection badge" data-text="Selection"></span>
                        <div class="overlay">
                            <div class="text-selection">New</div>
                            <div class="texthello">Abstract business card</div>
                            <span class="downloads" title="9,262 downloads" alt="9,262 downloads">
                                <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                            <span class="favourite">
                                <i class="fa fa-heart" aria-hidden="true"></i> 145</span>
                            <span class="week"> 2 weeks ago</span>
                            <a href="#" class="gr_favorite favourite-sqaure">
                                <i class="fa fa-heart color-heart" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="gr_favorite share">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                <span class="icon">
                                    <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    <i class="fab fa-google-plus-g" aria-hidden="true"></i>

                                </span>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="containerimages">
                        <a class="imageszoom" href="https://image.freepik.com/free-vector/hand-drawn-valentine-s-day-flyer-poster_23-2147730559.jpg"
                            title="Title">
                            <img src="https://image.freepik.com/free-vector/hand-drawn-valentine-s-day-flyer-poster_23-2147730559.jpg" class="images img-thumbnail"> </a>
                        <span class="fp-selection badge" data-text="Selection"></span>
                        <div class="overlay">
                            <div class="text-selection">New</div>
                            <div class="texthello">Abstract business card</div>
                            <span class="downloads">
                                <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                            <span class="favourite">
                                <i class="fa fa-heart" aria-hidden="true"></i> 145</span>
                            <span class="week" title="9,262 downloads" alt="9,262 downloads"> 2 weeks ago</span>
                            <a href="#" class="gr_favorite favourite-sqaure">
                                <i class="fa fa-heart color-heart" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="gr_favorite share">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                <span class="icon">
                                    <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    <i class="fab fa-google-plus-g" aria-hidden="true"></i>

                                </span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="containerimages">
                        <a class="imageszoom" href="https://image.freepik.com/free-vector/modern-wavy-business-brochure-template_23-2147723864.jpg"
                            title="Title">
                            <img src="https://image.freepik.com/free-vector/modern-wavy-business-brochure-template_23-2147723864.jpg" class="images img-thumbnail"> </a>
                        <span class="fp-selection badge" data-text="Selection"></span>
                        <div class="overlay">
                            <div class="text-selection">New</div>
                            <div class="texthello">Abstract business card</div>
                            <span class="downloads">
                                <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                            <span class="favourite">
                                <i class="fa fa-heart" aria-hidden="true"></i> 145</span>
                            <span class="week" title="9,262 downloads" alt="9,262 downloads"> 2 weeks ago</span>
                            <a href="#" class="gr_favorite favourite-sqaure">
                                <i class="fa fa-heart color-heart" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="gr_favorite share">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                <span class="icon">
                                    <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    <i class="fab fa-google-plus-g" aria-hidden="true"></i>

                                </span>

                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="containerimages">
                        <a class="imageszoom" href="https://image.freepik.com/free-vector/flat-chinese-new-year-background_23-2147730575.jpg" title="Title">
                            <img src="https://image.freepik.com/free-vector/flat-chinese-new-year-background_23-2147730575.jpg" class="images img-thumbnail"> </a>
                        <span class="fp-selection badge" data-text="Selection"></span>
                        <div class="overlay">
                            <div class="text-selection">New</div>
                            <div class="texthello">Abstract business card</div>
                            <span class="downloads">
                                <i class="fa fa-download" aria-hidden="true"></i> 9,262</span>
                            <span class="favourite">
                                <i class="fa fa-heart" aria-hidden="true"></i> 145</span>
                            <span class="week" title="9,262 downloads" alt="9,262 downloads"> 2 weeks ago</span>
                            <a href="#" class="gr_favorite favourite-sqaure">
                                <i class="fa fa-heart color-heart" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="gr_favorite share">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                <span class="icon">
                                    <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    <i class="fab fa-google-plus-g" aria-hidden="true"></i>

                                </span>

                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <app-graphics-pagination></app-graphics-pagination>

</div>