<div class="background">
  <h1 class="text-center works-text">How it works</h1>

<div class="container">
  <div class="row">
<div class="col-lg-3 col-md-3 col-sm-6">
  <img src="../../assets/images/Find.png" alt="" class="img-responsive img-fluid d-block mx-auto works-image">
<hr>
<h2 class="header-works text-center">FIND</h2>
<p class="works-paragraph">Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
</div>
<div class="col-lg-3 col-md-3 col-sm-6">
  <img src="../../assets/images/Hire.png" alt="" class="img-responsive img-fluid d-block mx-auto works-image">
  <hr>
  <h2 class="header-works text-center">HIRE </h2>
  <p class="works-paragraph">Browse profiles, reviews, and proposals then interview top candidates. Hire a favorite and begin your project.</p>
</div>
<div class="col-lg-3 col-md-3 col-sm-6">
  <img src="../../assets/images/Work.png" alt="" class="img-responsive img-fluid d-block mx-auto works-image">
  <hr>
  <h2 class="header-works text-center">WORK</h2>
  <p class="works-paragraph">Use the Upwork platform to chat, share files, and collaborate from your desktop or on the go.</p>
</div>
<div class="col-lg-3 col-md-3 col-sm-6">
  <img src="../../assets/images/Pay.png" alt="" class="img-responsive img-fluid d-block mx-auto works-image">
  <hr>
  <h2 class="header-works text-center">PAY</h2>
  <p class="works-paragraph">Invoicing and payments happen through Upwork. With Upwork Protection, only pay for work you authorize.</p>
</div>
  </div>
</div>
</div>