
<div class="container-fluid help-background-color">
    
              <h2 class="text-center help-heading">Here are just a few ways that we can help you...</h2>
              <div class="help-main-text text-center">We can fix any small issue you request and improve your site in a number of ways. A few examples include:</div>
                <div class="help-content">
                    <div class="container">
                  <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                                <div><img src="https://s3.amazonaws.com/apptronassets/websiteonline/Design-Develop.png" alt="" class="img-responsive img-thumbnail img-icon d-block mx-auto"></div>
                                  <div class="desc-cont text-center">Design and Development</div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div><img src="https://s3.amazonaws.com/apptronassets/websiteonline/Website-UI.png" alt="" class="img-responsive img-thumbnail img-icon d-block mx-auto"></div>
                                      <div class="desc-cont text-center">Create UI/UX</div>
                                  </div>
                                  <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div><img src="https://s3.amazonaws.com/apptronassets/websiteonline/Responsive-MObileFriend.png" alt="" class="img-responsive img-thumbnail img-icon d-block mx-auto"></div>
                                          <div class="desc-cont text-center">Responsive Design</div>
                                      </div>
                                      <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div><img src="https://s3.amazonaws.com/apptronassets/websiteonline/SEO-AND-SMO.png" alt="" class="img-responsive img-thumbnail img-icon d-block mx-auto"></div>
                                              <div class="desc-cont text-center">SEO and SMO</div>
                                          </div>
                                          <div class="col-lg-4 col-md-6 col-sm-6">
                                                <div><img src="https://s3.amazonaws.com/apptronassets/websiteonline/Speed-and-performance.png" alt="" class="img-responsive img-thumbnail img-icon d-block mx-auto"></div>
                                                  <div class="desc-cont text-center">Speed and Performance</div>
                                              </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div><img src="https://s3.amazonaws.com/apptronassets/websiteonline/Content-Writing.png" alt="" class="img-responsive img-thumbnail img-icon d-block mx-auto"></div>
                        <div class="desc-cont text-center">Content writing</div>
                    </div>
    
    
    
    
    
    
    
                  </div>
                </div>
    
                </div>
                <div>
    
                </div>
    
    
      </div>