    <!--download-->
    <div class="background-color-download">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12"> </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                  <h2 class="about-heading">Our websites come with a One Month FREE Trial</h2> <a id="button-download" class="btn btn-primary text-center" href="#services">DOWNLOAD NOW!</a> </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12"> </div>
          </div>
      </div>
  </div>