<!--home-header section-->

<section>
  <div class="home-header">
      <div class="container-fluid">
          <div class="row head-wrap">

              <div class="col-lg-10 headertext text-center">
                  <h1>
                      <strong>
                          Can we help you?</strong>
                  </h1><br>
                
                  <form role="search">
                      <div class="input-group add-on">
                          <input class="form-control" placeholder="Write your question here and press enter" name="srch-term" id="srch-term" type="text">
                          <div class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                                  <i class="fa fa-search" aria-hidden="true"></i>
                              </button>
                          </div>
                      </div>
                  </form>

              </div>

          </div>

      </div>

  </div>



  
</section>