<section class="top-portion">

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-block">

            <div class="main">

              <h3 class="sign-up-title">Sign Up</h3>

              <div class="row">

                <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 omb_socialButtons">
                  <a (click)="googleSignin()" class="btn btn-lg btn-info btn-block omb_btn-google" id="google-button">

                    <!-- <a href="#" class="btn btn-lg btn-info btn-block omb_btn-google" id="google-button"> -->
                    <i class="fab fa-google-plus-g visible-xs"></i>
                    <span class="hidden-xs">Google+</span>



                  </a>
                </div>
                <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
                  <a (click)="facebookSignin()" class="btn btn-lg btn-primary btn-block" id="fb-button">
                    <i class="fab fa-facebook-square visible-xs"></i>
                    <span class="hidden-xs">Facebook</span>


                  </a>


                </div>


              </div>
              <br>
              <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">or</span>
              </div>

              <form [formGroup]="userForm" (ngSubmit)="emailSignUp(userForm.value)">
                <div class="form-group">
                  <label for="inputUsername"></label>
                  <input type="text" class="form-control" id="inputUsername" placeholder="User Name" name="userName" formControlName="userName">
                  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">

                    <div class="alert" *ngIf="userName.errors.required">
                      User Name is required.
                    </div>
                    <div class="alert" *ngIf="userName.errors.minlength">
                      User Name must be at least 3 characters long.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputUsernameEmail"></label>
                  <input type="email" class="form-control" id="inputUsernameEmail" placeholder="Email" name="email" formControlName="email">
                  <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div class="alert" *ngIf="email.errors.required">
                      Email is required.
                    </div>
                    <div class="alert" *ngIf="email.errors.minlength">
                      Email must be at least 5 characters long.
                    </div>
                  </div>
                </div>
                <div class="form-group">

                  <label for="inputPassword"></label>
                  <!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="email" formControlName="password">
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div class="alert" *ngIf="password.errors.required">
                      Password is required.
                    </div>
                    <div class="alert" *ngIf="password.errors.minlength">
                      Password must be at least 6 characters long.
                    </div>
                  </div> -->
                  <show-hide-password  icon="fontawesome" >
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="pword" formControlName="password">
                    
                  </show-hide-password>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div class="alert" *ngIf="password.errors.required">
                      Password is required.
                    </div>
                    <div class="alert" *ngIf="password.errors.minlength">
                      Password must be at least 6 characters long.
                    </div>
                  </div>
                  
                </div>
                <!-- <div class="checkbox">
                  <label>
                    <input type="checkbox"> Show Password </label>

                </div> -->
                <button type="submit" class="btn submit-button" [disabled]="userForm.invalid">
                  Sign Up
                </button>

                <div class="bottom-portion-main">
                  <a [routerLink]="['/signin']" class="bottom-portion">Already registered? Sign in</a>
                  <p class="terms-portion">By signing up you accept our
                    <a [routerLink]="['/terms']" class="bottom-portion-terms">Terms of service.</a>
                  </p>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>