<section class="GuideSection">
  <div class="GuideSectionTop">
    <span class="GuideHeader">Website Online Guides</span>
    <div class="GuideContent">
       How to use Website Online to build and grow your business
    </div>
  </div>
 <div class="container-fluid">
    <div class="row row-flex">
      <div class="col-md-4">
        <div class="content colour-1">
           <img src="../../../assets/images/Create-a-Website.jpg" class="img-fluid ImgWidth" alt="">
            <div class="GuideImgTitle">
              Create A Website
            </div>
             <div class="GuideImgContent">
              Building a stunning website from A to Z
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content colour-2">
           <img src="../../../assets/images/grow-digital-marketing.jpg" class="img-fluid ImgWidth" alt="">
          <div class="GuideImgTitle">
             Grow with digital marketing
         </div>
          <div class="GuideImgContent">
           Promoting your business online
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content colour-3">
          <img src="../../../assets/images/Buid-a-strong-Brand.jpg" class="img-fluid ImgWidth" alt="">
          <div class="GuideImgTitle">
            Build a Strong Brand
          </div>
          <div class="GuideImgContent">
            Differentiating yourself from the competition
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="GuideBottom">
    <button type="button" class="btn btn-outline-success">See More Guides</button>
  </div>
  </section>