/* done by Shreya Khisa 2018 */

.headerContainer{
    background-color: #1A1A1A;
    /* background-color:white; */
    text-align: center;
    font-family: 12px/120% "Helvetica Neue",Helvetica,Arial,sans-serif;
     padding-top:2%; 
     padding-bottom:30px; 
    align-items: center;
    font-size: 18px;
     
    
    color: #555;
    
}


.headerContainer h1{
    font-family: hco gotham ssm,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 40px;
   
    font-weight: 600;
    letter-spacing: -.3px;
    text-transform: capitalize !important;
    color: #2ccfb4;
    text-align:center;

line-height: 70%;
}
p{
    color: white;
}



.button-title{
    font-size:18px;
   padding-top:20px;
    
}

/* done by Shreya Khisa 2018 */