<section class="landing-service">
  <div class="container">
    <div class="header-section">
      <h2>Explore Marketplace</h2>
    </div>
    <div class="sub-text">
      <p>We can fix any small issue you request and improve your site in a number of ways. A few examples include:</p>
    </div>
    <div class="service-content">
      <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
             <div class="service-item"(click)="goToMarket('graphics')" >
                  <div class="service-icon">
                  <img src="../../../assets/images/Graphisc-Design2.png" alt="" class="img-responsive img-fluid d-block mx-auto">
                  </div>
                  <div class="icon-underline"></div>
                  <div class="service-name">
                   <!-- <a [routerLink]="b.url"><h4>Graphics &amp; Design</h4></a> -->
                   <h4>Graphics &amp; Design</h4>
                  </div>
                  <div class="text-overlay">
                    <div class="text-content">
                      <p>Logo Design,Card Design,Web and app development and many more</p>
                    </div>
                   </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="service-item"(click)="goToMarket('digital-marketing')">
                <div class="service-icon">
                <img src="../../../assets/images/Digital-Marketing.png" alt="" class="img-responsive ing-fluid d-block mx-auto">
                </div>
                <div class="icon-underline"></div>
                <div class="service-name">
                  <h4>Digital Marketing</h4>
                </div>
                <div class="text-overlay">
                  <div class="text-content">
                    <p>Logo Design,Card Design,Web and app development and many more</p>
                  </div>
                 </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
          <div class="service-item" (click)="goToMarket('writing-translation')">
              <div class="service-icon">
              <img src="../../../assets/images/Writing-and-Translation.png" alt="" class="img-responsive img-fluid d-block mx-auto">
              </div>
              <div class="icon-underline"></div>
              <div class="service-name">
                <h4>Writing &amp; Translation </h4>
              </div>
              <div class="text-overlay">
                <div class="text-content">
                  <p>Logo Design,Card Design,Web and app development and many more</p>
                </div>
               </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="service-item"(click)="goToMarket('video-animation')">
            <div class="service-icon">
            <img src="../../../assets/images/video-and-Annimation.png" alt="" class="img-responsive img-fluid d-block mx-auto">
            </div>
            <div class="icon-underline"></div>
              <div class="service-name">
              <h4>Video &amp; Animation</h4>
              </div>
            <div class="text-overlay">
              <div class="text-content">
                <p>Logo Design,Card Design,Web and app development and many more</p>
              </div>
             </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
      <div class="service-item"(click)="goToMarket('music-audio')">
          <div class="service-icon">
          <img src="../../../assets/images/Music--and-AUdio.png" alt="" class="img-responsive img-fluid d-block mx-auto">
          </div>
          <div class="icon-underline"></div>
          <div class="service-name">
            <h4>Music &amp; Audio</h4>
          </div>
          <div class="text-overlay">
            <div class="text-content">
              <p>Logo Design,Card Design,Web and app development and many more</p>
            </div>
           </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-6">
    <div class="service-item"(click)="goToMarket('programming-tech')">
        <div class="service-icon">
        <img src="../../../assets/images/programming-and-Tech.png" alt="" class="img-responsive img-fluid d-block mx-auto">
        </div>
        <div class="icon-underline"></div>
        <div class="service-name">
          <h4>Programming &amp; Tech  </h4>
        </div>
        <div class="text-overlay">
          <div class="text-content">
            <p>Logo Design,Card Design,Web and app development and many more</p>
          </div>
         </div>
  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-6">
  <div class="service-item"(click)="goToMarket('business')">
      <div class="service-icon">
      <img src="../../../assets/images/Business.png" alt="" class="img-responsive img-fluid d-block mx-auto">
      </div>
      <div class="icon-underline"></div>
      <div class="service-name">
        <h4>Business </h4>
      </div>
      <div class="text-overlay">
        <div class="text-content">
          <p>Logo Design,Card Design,Web and app development and many more</p>
        </div>
       </div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-6">
  <div class="service-item"(click)="goToMarket('fun-lifestyle')">
      <div class="service-icon">
      <img src="../../../assets/images/Fun&Style.png" alt="" class="img-responsive img-fluid d-block mx-auto">
      </div>
      <div class="icon-underline"></div>
      <div class="service-name">
        <h4>Fun &amp; Lifestyle</h4>
      </div>
      <div class="text-overlay">
        <div class="text-content">
          <p>Logo Design,Card Design,Web and app development and many more</p>
        </div>
       </div>
</div>
</div>
        </div>
      </div>
    </div>
  </div>
</section>
