<div class="mainContainer">
  <h2>Take The First Step</h2>
  <p>Whatever your goal, here are a few places to get started</p>

<div id="imageCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#imageCarousel" data-slide-to="1"></li>
   
  </ol>
  <div class="container">
 <div class="carousel-inner">
   <div class="carousel-item active">
     <div class="row">
       <div class=" col-sm ">
         <img src="../../../assets/images/Logo-Design.png" class="img-fluid" />
         <div class="carousel-caption">
          <h5>Build Your Own Design</h5>
          <h1>Logo Design</h1>
        </div>
       </div>
       <div class="col-sm ">
         <img src="../../../assets/images/Wordpress.png" class="img-fluid" />
         <div class="carousel-caption">
          <h5>Customize Your Site</h5>
          <h1>Wordpress</h1>
        </div>
       </div>
       <div class="col-sm ">
         <img src="../../../assets/images/Voiceover.png" class="img-fluid" />
         <div class="carousel-caption">
          <h5>Share Your Message</h5>
          <h1>Voice Over</h1>
        </div>
       </div>
       <div class="col-sm ">
        <img src="../../../assets/images/WhiteBoard.png" class="img-fluid" />
        <div class="carousel-caption">
          <h5>Engage Your Audeince</h5>
          <h1>Whiteboard</h1>
        </div>
      </div>
      <div class="col-sm ">
        <img src="../../../assets/images/Social-MEida.png" class="img-fluid" />
        <div class="carousel-caption">
          <h5>Reach More Customers</h5>
          <h1>Social Media</h1>
        </div>
      </div>
     </div>
   </div>
   <div class="carousel-item">
     <div class="row">
      <div class="col-sm ">
        <img src="../../../assets/images/Voiceover.png" class="img-fluid" />
        <div class="carousel-caption">
          <h5>Share Your Message</h5>
          <h1>Voice Over</h1>
        </div>
      </div>
      <div class="col-sm">
        <img src="../../../assets/images/WhiteBoard.png" class="img-fluid" />
        <div class="carousel-caption">
          <h5>Engage Your Audeince</h5>
          <h1>Whiteboard</h1>
        </div>
      </div>
      <div class="col-sm">
        <img src="../../../assets/images/Social-MEida.png" class="img-fluid" />
        <div class="carousel-caption">
          <h5>Reach More Customers</h5>
          <h1>Social Media</h1>
        </div>
      </div>
      <div class="col-sm">
       <img src="../../../assets/images/SEO.png" class="img-fluid" />
       <div class="carousel-caption">
        <h5>Unlock Growth Online</h5>
        <h1>SEO</h1>
      </div>
     </div>
     <div class="col-sm">
       <img src="../../../assets/images/Resumes.png" class="img-fluid" />
       <div class="carousel-caption">
        <h5>Show Your Best Shelf</h5>
        <h1>Resumes</h1>
      </div>
     </div>
     </div>
   </div>
  </div>
  </div>
  <a class="carousel-control-prev" href="#imageCarousel"  data-slide="prev">
      <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span> -->
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#imageCarousel"  data-slide="next">
      <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span> -->
      <span class="carousel-control-next-icon"></span>
    </a>
 </div>

 </div>